<!--
  Generated template for the NewInvitationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>New invitation</ion-title>
  </ion-navbar>

</ion-header>

 
<ion-content padding>
 <form [formGroup]="form"  (ngSubmit)="manage(form.value)">
    <ion-list margin-bottom>
      <ion-list-header>
        Add friend(s) email address:
      </ion-list-header>
      <div
	        formArrayName="people"
	        margin-bottom>
      <section [formGroupName]="i" *ngFor="let tech of form.controls.people.controls; let i = index">
        <ion-item-group>
                  <ion-item>
                     <ion-label floating>Invited user:</ion-label>
                     <ion-input
                        type="email"
                        maxlength="50"
                        formControlName="email"></ion-input>
                  </ion-item>


                  <!-- Allow generated input field to be removed -->
                  <span
                     float-right
                     ion-button
                     icon-left
                     clear
                     color="danger"
                     *ngIf="form.controls.people.length > 1"
                     (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Remove
                  </span>
               </ion-item-group>
            </section>
     </div>

      <span
            ion-button
            float-left
            icon-left
            clear
            (click)="addNewInputField()">
               <ion-icon name="add"></ion-icon>
               Add a new user
         </span>
    </ion-list>
    <button
   	     ion-button
   	     block
   	     margin-top
   	     color="primary"
   	     text-center
   	     [disabled]="!form.valid">Submit</button>
  </form>
</ion-content>
