<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'ABOUT' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid fixed>


  <ion-list>
      <ion-list-header>
        {{ 'FEATURES' | translate }}
      </ion-list-header>
      <ion-item>Cognito (Authentication)</ion-item>
      <ion-item>DynamoDB (Data Storage)</ion-item>
      <ion-item>S3 (File Storage)</ion-item>
    </ion-list>

    <h4>This is a starter project that leverages AWS Mobile Hub services to power the app. The
        following services are utilized:</h4>

    <ion-list>
        <ion-list-header>
          Change log: 18/03/2018
        </ion-list-header>
        <ion-item>UI chages</ion-item>
        <ion-item>New API for Groups and user groups</ion-item>
        <ion-item>Static contents</ion-item>
      </ion-list>
</ion-grid>
</ion-content>
