page-login {
  .error-message {
    background: color($colors, danger);
    font-size: 18px;
  }

  .login-slogan {
    &__text {
      font-family: 'TPSecondary';
      font-style: italic;
    }
  }

  .item-ios {
    background-color: transparent;
    color: #fff;
  }

  .login-page {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 570px;
    .signin-form, .signup-form, .segment-tab__item {
      background: rgba(33, 28, 91, 0.8);
    }
  }

  .logo {
    padding: 10px 0px 40px 0px;
    text-align: center;
    // font-family: 'TPSecondary';

    img {
      max-width: none;
    }
  }

}

/**
* inkscape TEMP.FILENAME --export-plain-svg=FILENAME --export-text-to-path
*/
