<ion-card>
<ion-card-header>
    <ion-row class="tabella__item">
        <ion-col col-2 col-sm-2 text-center>
          #
        </ion-col>
        <ion-col col-5>
          Team
        </ion-col>
        <ion-col col-2 text-center>
          Goal diff
        </ion-col>
        <ion-col col-2 text-center>
          Points
        </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
<ion-grid *ngIf="tabella">
    
    <ng-container *ngFor="let group of tabella | values; let p = index">
    <h2>{{group[0].groupName}} {{'GROUP' | translate}}</h2>
      <ng-container *ngFor="let standing of group">
      <ion-row class="tabella__item" #f (click)="f.active=!f.active">
        <ion-col col-2 col-sm-2 text-center>
          <p class="tabella__item--position">{{standing.rank}}.</p>
        </ion-col>
        <ion-col col-5>
          <p class="tabella__item--team">{{standing.team.name}}</p>
          <small>{{standing.current_outcome | translate}}</small>
        </ion-col>
        <ion-col col-2 text-center>
          <p class="tabella__item--score">{{[standing.goals_for, standing.goals_against].join(':')}}</p>
        </ion-col>
        <ion-col col-2 text-center>
          <p class="tabella__item--points">{{standing.points}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="tabella__item tabella__item--hidden" [class.active]="f.active">
        <ion-col col-3 text-center>
          <strong>
            {{ 'PLAYED' | translate }}: {{standing.played}}
          </strong>
        </ion-col>
        <ion-col col-3 text-center>
          <strong>
            {{ 'WIN' | translate }}: {{standing.win}}
          </strong>
        </ion-col>
        <ion-col col-3 text-center>
          <strong>
            {{ 'DRAW' | translate }}: {{standing.draw}}
          </strong>
        </ion-col>
        <ion-col col-3 text-center>
          <strong>
            {{ 'LOSS' | translate }}: {{standing.loss}}
          </strong>
        </ion-col>
      </ion-row>
      </ng-container>
    </ng-container>
  </ion-grid>
  </ion-card-content>
</ion-card>