<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<top-navigation class="top-navigation" ></top-navigation>
<ion-content>
    <ion-grid fixed>
      <div class="landing-page__inner">
        <div class="" fxLayout="row">
            <h1 text-center fxFlex="100">{{'WELCOME_AT_TIPZONE' | translate}}</h1>
        </div>
        <div class="" fxLayout="row wrap">
            <div class="" fxFlex="60" fxFlex.xs="100">
              <img src="/assets/banners/iihf-budapest-2018.jpg" alt="" />
            </div>
            <div class="registration" fxFlex="40" fxFlex.xs="100">
              <div class="" padding>
                <h2 class="registration__title">{{'SIGN_UP' | translate}}</h2>
                <register-form></register-form>
              </div>
            </div>
        </div>
        <div class="" fxLayout="row">
          <div padding>
            <markdown [data]="pageContent"></markdown>
          </div>
        </div>

      </div>
    </ion-grid>
  </ion-content>

  <footer-section></footer-section>
