
<top-navigation class="top-navigation" ></top-navigation>

<ion-tabs #myTabs [selectedIndex]="myIndex" [tabsPlacement]="tabsPlacement" [tabsLayout]="tabsLayout" color="light" >
  <ion-tab *ngFor="let tab of pages"  [root]="tab.tabComponent"  tabTitle="{{ tab.title | translate }}" tabsHideOnSubPages="false" [tabIcon]="tab.icon"></ion-tab>
</ion-tabs>
