<div class="error-message" *ngIf="error" >
  <p padding text-center>{{error.message | translate}}</p>
</div>
<form (submit)="login(f.valid)" #f="ngForm">
  <ion-list>
    <ion-item>
      <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
      <ion-input #username="ngModel" [(ngModel)]="loginDetails.username" type="text" autocorrect="off" autocapitalize="none" name="username"
        required></ion-input>
      <p class="" *ngIf="username?.errors?.required && (username.dirty || username.touched)">
        {{ 'USERNAME_IS_REQUIRED.' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input #password="ngModel" [(ngModel)]="loginDetails.password" type="password" name="password" minlength="4" required></ion-input>
      <p *ngIf="password?.errors?.required && (password.dirty || password.touched)">
        {{ 'PASSWORD_IS_REQUIRED.' | translate }}
      </p>
    </ion-item>
    <div padding>
      <div class="" text-right>
        <a href="" (click)="resetPassword($event)">{{ 'FORGOT_PASSWORD' | translate }}</a>
      </div>
    </div>
    <div padding>
      <button type="submit" ion-button color="primary" large [disabled]="f.invalid || f.untouched" block>{{ 'LOGIN' | translate }}</button>
    </div>
    <p text-center>{{ 'OR' | translate }}</p>
  </ion-list>
</form>
