<!-- Generated template for the TopNavigationComponent component -->
<ion-header>
  <ion-toolbar fixed [style.backgroundColor]="'rgba(0, 0, 0, 1)'">
    <ion-buttons start *ngIf="userAvatar">
      <tip-credit></tip-credit>

    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="accountPage()" *ngIf="auth.isUserSignedIn()">
          <img class="nav-avatar" [src]="userAvatar" *ngIf="userAvatar" alt="Avatar" />
          <span *ngIf="!userAvatar" fxHide.xs>Account</span>
          <ion-icon *ngIf="!userAvatar" name="person"></ion-icon>
      </button>
      <button *ngIf="!auth.isUserSignedIn()" ion-button icon-only color="secondary" (click)="loginModal($event)">
        <ion-icon name="log-in"></ion-icon>
        {{ 'LOGIN' | translate }}
      </button>

      <button *ngIf="auth.isUserSignedIn()" ion-button icon-only (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>

    <ion-title fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="auto" fxFlexAlign="start">
      <a href="" class="tipzone-logo" (click)="goHome($event)" >
        <svg width="316px" height="41px" viewBox="0 0 316 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="TIP-ZONE-Logo-Copy-2" transform="translate(-20.000000, -25.000000)">
                    <g id="tipzone-logo" transform="translate(11.000000, 8.000000)">
                        <path d="M14.528,17.768 L50.112,17.768 L46.016,29.736 L37.632,29.736 L28.224,57 L9.344,57 L18.752,29.608 L10.432,29.608 L14.528,17.768 Z M52.672,17.768 L70.4,17.768 L56.896,57 L39.168,57 L52.672,17.768 Z M73.216,17.768 L112.512,17.768 C113.664006,17.768 114.517331,18.2266621 115.072,19.144 C115.626669,20.0613379 115.967999,21.1813267 116.096,22.504 C116.224001,23.8266733 116.170668,25.2239926 115.936,26.696 C115.701332,28.1680074 115.392002,29.4586611 115.008,30.568 C114.837332,31.1226694 114.528002,31.8586621 114.08,32.776 C113.631998,33.6933379 113.088003,34.6959946 112.448,35.784 C111.807997,36.8720054 111.125337,37.9706611 110.4,39.08 C109.674663,40.1893389 108.928004,41.181329 108.16,42.056 C107.391996,42.930671 106.645337,43.6559971 105.92,44.232 C105.194663,44.8080029 104.533336,45.096 103.936,45.096 L83.072,45.096 L78.976,57 L59.712,57 L73.216,17.768 Z M88.96,29.416 L86.784,35.688 C87.125335,35.688 87.4986646,35.6986666 87.904,35.72 C88.3093354,35.7413334 88.8106637,35.752 89.408,35.752 C90.474672,35.752 91.5093283,35.5920016 92.512,35.272 C93.5146717,34.9519984 94.2506643,34.1306733 94.72,32.808 C94.8053338,32.5093318 94.8906662,32.1680019 94.976,31.784 C95.0613338,31.3999981 95.0933334,31.037335 95.072,30.696 C95.0506666,30.354665 94.9653341,30.0560013 94.816,29.8 C94.6666659,29.5439987 94.4000019,29.416 94.016,29.416 L88.96,29.416 Z" id="tip" fill="#FFFFFF"></path>
                        <path d="M135.12,45.16 L158.16,29.608 L140.432,29.608 L144.528,17.768 L180.112,17.768 L176.016,29.608 L152.848,45.16 L170.704,45.16 L166.608,57 L131.024,57 L135.12,45.16 Z M171.728,48.36 L178.896,27.624 C179.152001,26.9413299 179.706662,26.0346723 180.56,24.904 C181.413338,23.7733277 182.373328,22.6853386 183.44,21.64 C184.506672,20.5946614 185.562661,19.6880038 186.608,18.92 C187.653339,18.1519962 188.474664,17.768 189.072,17.768 L220.944,17.768 C221.669337,17.768 222.34133,18.130663 222.96,18.856 C223.57867,19.581337 224.079998,20.4666614 224.464,21.512 C224.848002,22.5573386 225.082666,23.6986605 225.168,24.936 C225.253334,26.1733395 225.125335,27.3039949 224.784,28.328 L218.512,46.504 C218.170665,47.4853382 217.541338,48.5839939 216.624,49.8 C215.706662,51.0160061 214.693339,52.157328 213.584,53.224 C212.474661,54.290672 211.354672,55.186663 210.224,55.912 C209.093328,56.637337 208.165337,57 207.44,57 L175.568,57 C174.927997,57 174.330669,56.6800032 173.776,56.04 C173.221331,55.3999968 172.752002,54.6213379 172.368,53.704 C171.983998,52.7866621 171.728001,51.8373382 171.6,50.856 C171.471999,49.8746618 171.514666,49.0426701 171.728,48.36 Z M196.88,29.16 L191.248,45.48 L199.504,45.48 L205.136,29.16 L196.88,29.16 Z M263.312,57.064 L244.752,57.064 L254.224,29.416 L245.904,29.416 L236.432,57.064 L217.168,57.064 L230.608,17.896 L269.84,17.896 C270.480003,17.896 271.087997,18.2159968 271.664,18.856 C272.240003,19.4960032 272.730665,20.2639955 273.136,21.16 C273.541335,22.0560045 273.818666,22.9839952 273.968,23.944 C274.117334,24.9040048 274.085334,25.7253299 273.872,26.408 L263.312,57.064 Z M279.056,17.768 L324.944,17.768 L320.848,29.736 L293.904,29.736 L292.88,32.68 L319.824,32.68 L316.24,43.112 L289.296,43.112 L288.272,46.056 L315.216,46.056 L311.44,57 L265.552,57 L279.056,17.768 Z" id="ZONE" fill="#EF7A2A"></path>
                    </g>
                </g>
            </g>
        </svg>
      </a>
      </div>
      <h3 class="slogan big" fxFlex="200" fxHide.xs text-center>{{ 'PICK_AND_HAVE_FUN' | translate }}!</h3>
    </ion-title>

  </ion-toolbar>
  <!-- <ion-toolbar *ngIf="isSearch"  fixed color="light">
        <ion-searchbar></ion-searchbar>
      </ion-toolbar> -->


</ion-header>
