
.toolbar-background, .toolbar-title {
  @include themify($themes) {
    color: themed('secondary');
    background-color: themed('primary') !important;
  }
}
.bar-button-default-md,
.bar-button-default-ios,
.bar-button-clear-md-default,
.bar-button-md-default {
  @include themify($themes) {
    color: themed('secondary');
  }
  &:hover:not(.disable-hover) {
    @include themify($themes) {
      color: themed('contrast');
    }
  }
}
.nav-flag {
  max-width: 30px;
}
.nav-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
}
.tipzone-logo {
    height: 52px;
    cursor: pointer;
    // padding: 10px 0px;
    & svg {
      max-width: 100%;
      margin: 5px 0px 0px;
    }
}
.slogan {
    font-family: 'TPSecondary';
    font-weight: normal;
    font-style: normal;
    @include themify($themes) {
      color: themed('contrast');
      background-color: themed('primary');
    }
}

#tip {
  @include themify($themes) {
    fill: themed('contrast');
  }
}
