$themes: (
  default: (
    primary: #211C5B,
    secondary: #EF7A2A,
    third: #64CCEC,
    alternative: rgba(33, 28, 91, 0.9),
    contrast: #fff
  ),
  rocky-s-pub: (
    primary: #0b0c10,
    secondary: #FFD700,
    third: #45A29e,
    alternative: rgba(88, 88, 88, 0.9),
    contrast: #fff
  ),
  index-hu: (
    primary: #fff,
    secondary: #f90,
    third: #158dc5,
    alternative: rgba(21, 141, 197, 0.9),
    contrast: #211C5B
  ),
  heineken: (
    primary: #008200,
    secondary: #ff2b00,
    third: #45A29e,
    alternative: rgba(0, 130, 0, 0.9),
    contrast: #fff
  ),
  lavard: (
    primary: #292929,
    secondary: #fff,
    third: #666,
    alternative: rgba(41, 41, 41, 0.9),
    contrast: #fff
  ),
);
