@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
$darkblue:   #211C5B;
$darkorange:  #EF7A2A;

@mixin transition($t: .5s) {
    -webkit-transition: all $t;
    -moz-transition: all $t;
    -ms-transition: all $t;
    -o-transition: all $t;
    transition: all $t;
}

@mixin transform($t: roate(0deg)) {
    -webkit-transform: $t;
    -moz-transform: $t;
    -ms-transform: $t;
    -o-transform: $t;
    transform: $t;
}

@mixin animationClass ($delay, $duration, $animation) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards;
    /* this prevents the animation from restarting! */
    animation-iteration-count: infinite;
}

@mixin animation($a: all) {
    -webkit-animation: $a;
    -moz-animation: $a;
    -ms-animation: $a;
    -o-animation: $a;
    animation: $a;
}

@keyframes effect-1-1 {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

@keyframes effect-1-2 {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(-360deg));
    }
}

page-loader-progress {
    .clear-loading {
        text-align: center;
        margin: 0 20px;
        position: relative;
        display: inline-block;
    }
    .loading-effect-1 {
        width: 100px;
        height: 100px;
        & span {
            display: block;
            @include border-radius(50%);
            border: 4px solid #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            &:first-child {
                width: 100%;
                height: 100%;
                border-color: $darkblue;
                border-left-color: transparent;
                top: 0;
                left: 0;
                @include animation(effect-1-1 4s infinite linear);
            }
            &:nth-child(2) {
                width: 75%;
                height: 75%;
                border-color: $darkorange;
                border-right-color: transparent;
                top: 12.5%;
                left: 12.5%;
                @include animation(effect-1-2 3s infinite linear);
            }
            &:last-child {
                width: 50%;
                height: 50%;
                border-color: #fff;
                border-bottom-color: transparent;
                top: 25%;
                left: 25%;
                @include animation(effect-1-1 4s infinite linear);
            }
        }
    }
    .loader {
        &__container {
            margin-top: -300px;
            max-height: 0;
            transition: max-height 0.6s cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;
            &.active {
                margin-top: 0px;
                display: inline-flex;
                max-height: 110vh;
            }
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
            justify-content: center;
            background: #333;
        }
        &__center {
            width: 250px;
            height: 250px;
            text-align: center;
            position: relative;
            padding: 0px 50px 50px;
            & h3 {
                position: absolute;
                bottom: 0;
                opacity: 1;
                font-weight: 100;
                left: 0px;
                right: 0px;
                &:nth-child(2) {
                    opacity: 0;
                    @include animationClass(0s, 27s, fadeInOut);
                }
                &:nth-child(3) {
                    opacity: 0;
                    @include animationClass(9s, 27s, fadeInOut);
                }
                &:nth-child(4) {
                    opacity: 0;
                    @include animationClass(18s, 27s, fadeInOut);
                }
            }
        }
    }
}
