<!-- Generated template for the PageLoaderProgressComponent component -->
<div class="loader__container" [class.active]="isLoading">
  <div class="loader__center">
    <div class="clear-loading loading-effect-1">
			<span></span>
			<span></span>
			<span></span>
		</div>
    <h3>It's going to be legen...</h3>
    <h3>...wait for it...</h3>
    <h3>...dary!</h3>
  </div>
</div>
