page-invitation {
  .invitation-page {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 570px;
    .invitation-form {
      padding: 25px;
      text-align: center;
      background: rgba(33, 28, 91, 0.8);
    }
  }
.logo {
    padding: 10px 0px 40px 0px;
    text-align: center;
    // font-family: 'TPSecondary';

    img {
      max-width: none;
    }
  }
  .actions {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
  }
}
