<!--
  Generated template for the InvitationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <!-- <video class="background-video" autoplay loop src="/assets/videos/background.mp4"></video> -->
  <ion-grid fixed>
    <div class="invitation-page">
      <div text-center class="logo">
          <!-- <h3 text-center class="invitation-slogan__text">{{ 'PICK_AND_HAVE_FUN' | translate }}!</h3> -->
          <svg width="316px" height="40px" viewBox="0 0 316 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="TIP-ZONE-Logo-Copy-2" transform="translate(-20.000000, -25.000000)">
                    <g id="tipzone-logo" transform="translate(20.000000, 25.000000)">
                        <path d="M5.528,0.768 L41.112,0.768 L37.016,12.736 L28.632,12.736 L19.224,40 L0.344,40 L9.752,12.608 L1.432,12.608 L5.528,0.768 Z M43.672,0.768 L61.4,0.768 L47.896,40 L30.168,40 L43.672,0.768 Z M64.216,0.768 L103.512,0.768 C104.664006,0.768 105.517331,1.22666208 106.072,2.144 C106.626669,3.06133792 106.967999,4.18132672 107.096,5.504 C107.224001,6.82667328 107.170668,8.22399264 106.936,9.696 C106.701332,11.1680074 106.392002,12.4586611 106.008,13.568 C105.837332,14.1226694 105.528002,14.8586621 105.08,15.776 C104.631998,16.6933379 104.088003,17.6959946 103.448,18.784 C102.807997,19.8720054 102.125337,20.9706611 101.4,22.08 C100.674663,23.1893389 99.9280038,24.181329 99.16,25.056 C98.3919962,25.930671 97.645337,26.6559971 96.92,27.232 C96.194663,27.8080029 95.5333363,28.096 94.936,28.096 L74.072,28.096 L69.976,40 L50.712,40 L64.216,0.768 Z M79.96,12.416 L77.784,18.688 C78.125335,18.688 78.4986646,18.6986666 78.904,18.72 C79.3093354,18.7413334 79.8106637,18.752 80.408,18.752 C81.474672,18.752 82.5093283,18.5920016 83.512,18.272 C84.5146717,17.9519984 85.2506643,17.1306733 85.72,15.808 C85.8053338,15.5093318 85.8906662,15.1680019 85.976,14.784 C86.0613338,14.3999981 86.0933334,14.037335 86.072,13.696 C86.0506666,13.354665 85.9653341,13.0560013 85.816,12.8 C85.6666659,12.5439987 85.4000019,12.416 85.016,12.416 L79.96,12.416 Z" id="tip" fill="#FFFFFF"></path>
                        <path d="M125.936,19.968 L154.032,12.224 L128.624,12.224 L132.592,0.768 L172.016,0.768 C172.570669,0.768 173.103997,1.15199616 173.616,1.92 C174.128003,2.68800384 174.543998,3.59466144 174.864,4.64 C175.184002,5.68533856 175.397333,6.77332768 175.504,7.904 C175.610667,9.03467232 175.536001,9.94132992 175.28,10.624 L172.464,18.752 L144.048,27.456 L169.328,27.456 L165.04,40 L125.808,40 C125.210664,40 124.624003,39.6800032 124.048,39.04 C123.471997,38.3999968 122.992002,37.6213379 122.608,36.704 C122.223998,35.7866621 121.968001,34.8373382 121.84,33.856 C121.711999,32.8746618 121.754666,32.0426701 121.968,31.36 L125.936,19.968 Z M171.685333,31.36 L178.853333,10.624 C179.109335,9.94132992 179.663996,9.03467232 180.517333,7.904 C181.370671,6.77332768 182.330661,5.68533856 183.397333,4.64 C184.464005,3.59466144 185.519995,2.68800384 186.565333,1.92 C187.610672,1.15199616 188.431997,0.768 189.029333,0.768 L220.901333,0.768 C221.62667,0.768 222.298664,1.13066304 222.917333,1.856 C223.536003,2.58133696 224.037331,3.46666144 224.421333,4.512 C224.805335,5.55733856 225.04,6.69866048 225.125333,7.936 C225.210667,9.17333952 225.082668,10.3039949 224.741333,11.328 L218.469333,29.504 C218.127998,30.4853382 217.498671,31.5839939 216.581333,32.8 C215.663995,34.0160061 214.650672,35.157328 213.541333,36.224 C212.431994,37.290672 211.312006,38.186663 210.181333,38.912 C209.050661,39.637337 208.12267,40 207.397333,40 L175.525333,40 C174.88533,40 174.288003,39.6800032 173.733333,39.04 C173.178664,38.3999968 172.709335,37.6213379 172.325333,36.704 C171.941331,35.7866621 171.685334,34.8373382 171.557333,33.856 C171.429333,32.8746618 171.471999,32.0426701 171.685333,31.36 Z M196.837333,12.16 L191.205333,28.48 L199.461333,28.48 L205.093333,12.16 L196.837333,12.16 Z M231.962667,0.768 L249.690667,0.768 L252.378667,15.104 L257.306667,0.768 L276.634667,0.768 L263.130667,40 L243.802667,40 L240.794667,26.624 L236.186667,40 L218.458667,40 L231.962667,0.768 Z M280.08,0.704 L315.664,0.704 L311.568,12.736 L294.928,12.736 L293.904,15.68 L310.544,15.68 L306.96,26.112 L290.32,26.112 L289.296,29.056 L305.936,29.056 L302.16,40 L266.576,40 L280.08,0.704 Z" id="zone" fill="#EF7A2A"></path>
                    </g>
                </g>
            </g>
        </svg>
      </div>
      <div class="invitation-form">

      <h3>{{userName}} invited you to join the {{groupName}} group.</h3>

      <div class="">
        <button ion-button block color="secondary" (click)="groupInfo()">Group info</button>
      </div>

      <h4>Please select one answer below.</h4>

      <div class="actions">
        <div class="actions__button">
          <button ion-button block color="third" (click)="acceptInvitation()">Accept</button>
        </div>
        <div class="actions__button">
          <button ion-button block color="danger" (click)="rejectInvitation()">Reject</button>
        </div>
      </div>

      <div class="">
        <p>If you dont want to decide now, you can see it on your settings page or open again it in your email and folow the link.</p>
        <button ion-button clear color="danger" (click)="dismiss()">Cancel</button>
      </div>

      </div>

    </div>
  </ion-grid>

</ion-content>
