<div class="position-list" fxLayout="column" *ngIf="userDetails" >
  <ion-row fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <ion-col col-2 fxFlex="50px">#</ion-col>
      <ion-col col-3 fxFlex="auto">
          Player
      </ion-col>
      <ion-col col-1 fxFlex="auto">W</ion-col>
      <ion-col col-1 fxFlex="auto">D</ion-col>
      <ion-col col-1 fxFlex="auto">L</ion-col>
      <ion-col col-2 fxFlex="20" text-right>Points</ion-col>
  </ion-row>
    <ion-row class="position-list__item" *ngFor="let item of userDetails; let position = index" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

      <ion-col col-2  class="position-list__item--position" fxFlex="50px">
        <div class="position-circle" [class.lead]="position < 3" [class.middle]="position > 2 && position < 9" [class.outter]="position > 8">{{+(position+1)}}</div>
      </ion-col>

      <ion-col col-3 class="position-list__item--name" fxFlex="auto" (click)="presentPopover($event, item.results)">
        {{item.userName}}
      </ion-col>

      <ion-col col-1 class="position-list__item--scores" fxFlex="auto" *ngIf="(isMember | async) || standalone" >
          {{item.match}}
      </ion-col>

      <ion-col col-1 class="position-list__item--scores" fxFlex="auto" *ngIf="(isMember | async) || standalone">
          {{item.winner}}
      </ion-col>

      <ion-col col-1 class="position-list__item--scores" fxFlex="auto" *ngIf="(isMember | async) || standalone">
          {{item.difference}}
      </ion-col>

      <ion-col col-2 class="position-list__item--points" fxFlex="20" *ngIf="(isMember | async) || standalone">
        {{item.points}}
      </ion-col>
      <ion-col  *ngIf="!(isMember | async) && !standalone" col-5>
        {{ 'NOT_MEMBER_LEADERBOARD' | translate }}
      </ion-col>

    </ion-row>
  </div>
