<ng-container *ngIf="!hasCookie">
    <div class="cookie-tab" [class.hiding]="hideCookieTab">
    <div class="cookie-tab__inner" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="cookie-tab__content" fxFlex>
          <img src="/assets/imgs/illustration-cookie.png"
          srcset="/assets/imgs/illustration-cookie@2x.png 2x,
            /assets/imgs/illustration-cookie@3x.png 3x"
          class="cookie-tab__content--image illustration-cookie">
        <p class="cookie-tab__content--text" >
          <span [innerHTML]="'cookie_text' | translate"></span>
          <a href="" class="cookie-tab__content--link" routerLink="/cookie_policy" [innerHTML]="'cookie_link' | translate"></a>
        </p>

      </div>
      <div class="cookie-tab__cta" fxFlex="120px" fxFlex.gt-xs="280px">
        <button class="cookie-tab__cta--button" (click)="acceptCookiePolicy($event)">
          {{ 'cookie_button' | translate }}
        </button>
      </div>
    </div>
  </div>
  </ng-container>
