.cookie-tab {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 90px;
  background-color: #211C5B;
  z-index: 999;
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  @include mobile {
      height: 65px;
  }
  &.hiding {
      transform-style: preserve-3d;
      transform-origin: 100% 100%;
      perspective: 1000px;
      animation: slideOut 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1;
  }
  &__content {
      padding: 0 12px;
      flex: auto;

      &--image {
          height: 60px;
          display: none;
          position: absolute;
          left: 12px;
          bottom: 0px;

          @include mobile {

          }
          @include tablet {
              display: block;
          }
      }
      &--text {

          text-align: center;
          color: #fff;
          @include mobile {
              font-size: 12px;
              text-align: left;
          }
          @include tablet {
              margin-left: 95px;
              font-size: 15px;
          }
      }
      &--link {

          text-align: center;
          color: #fff;
          @include mobile {
              text-align: left;
              font-size: 15px;
          }
      }
  }

  &__cta {
    flex: 0 1 224px;

      &--button {
          padding: 12px 12px;
          width: calc(100% - 30px);
          margin: 8px;
          border-radius: 6px;
          background-color: #EF7A2A;
          box-shadow: 0 2px 6px 0 rgba(34, 34, 34, 0.2);
          outline: none;
          max-width: 200px;
          text-align: center;
          color: #fff;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:hover {
              background-color: darken(#EF7A2A, 20%);
          }
      }
  }
}

@keyframes slideOut {
 0% {
      // default
      transform: rotateX(0deg);
  }
  20% {
      // transform: scale(1.2);
  }
  100% {
      transform: rotateX(90deg);
  }
}
