<!-- Generated template for the FooterSectionComponent component -->
<ion-footer no-border fxHide.xs fxHide.sm>
    <ion-toolbar fixed color="darkblue" fxLayout="column" fxLayout.gt-sx="row" fxLayoutAlign="space-between stretch">
        <button fxFlex text-center clear ion-button color="light">© 2018 TipZone Kft.</button>
        <button fxFlex text-center clear ion-button color="light" (click)="staticPage(link.path)" *ngFor="let link of links" >{{link.name}}</button>
    </ion-toolbar>
  </ion-footer>
