footer-section {
  .toolbar-background {
    @include themify($themes) {
      border: 1px solid black;
      color: themed('textColor');
      background-color: themed('backgroundColor') !important;
    }
  }
}
