<form (ngSubmit)="signup()" [formGroup]="userDetails">
  <div class="error-message" *ngIf="errorSignUp">
    <p padding>{{errorSignUp.message}}</p>
  </div>
  <ion-list>

    <ion-item>
      <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
      <ion-input type="text" formControlName="username" autocomplete="login username" autocapitalize="none" name="username"></ion-input>
    </ion-item>

    <ion-item *ngIf="!userDetails.get('username').pristine && userDetails.get('username').hasError('required')" class="error-message">
      <p padding class="" translate>USERNAME_IS_REQUIRED</p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
      <ion-input type="email" formControlName="email" autocomplete="login email" name="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="!userDetails.get('email').pristine && userDetails.get('email').hasError('required')" class="error-message">
      <p padding class="" translate>EMAIL_IS_REQUIRED</p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
      <ion-input type="password" formControlName="password" autocomplete="login current-password" name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'CONFIRM_YOUR_PASSWORD' | translate }}</ion-label>
      <ion-input type="password" formControlName="confirmPassword" autocomplete="login current-password" name="confirmPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>{{ 'AGREE_TERMS' | translate }}
        <a href="/terms_of_use">{{ 'TERMS_AND_CONDITIONS' | translate }}</a> {{'AND' | translate}}
        <a href="/privacy_and_policy">{{ 'PRIVACY_AND_POLICY' | translate }}</a>
      </ion-label>
      <ion-checkbox formControlName="agreeTerms"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        {{ 'NEWSLETTER_SUBSCRIPTION' | translate }}
      </ion-label>
      <ion-checkbox formControlName="newsletterSubscribe"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="!userDetails.get('agreeTerms').pristine && userDetails.get('agreeTerms').hasError('required')" class="error-message">
      <p padding class="" translate>IS_REQUIRED</p>
    </ion-item>

    <ion-item *ngIf="userDetails.get('confirmPassword').hasError('MatchPassword')" class="error-message">
      <p padding class="">Password not match</p>
    </ion-item>
    <div padding>
      <button ion-button color="primary" block>{{ 'REGISTER' | translate }}</button>
    </div>

  </ion-list>
</form>
