group-card {
  .card-ios, .card-md {
    margin: 0px 0 0 10px;
    box-shadow: none;
    background-color: cornflowerblue;
  }
  .card-holder {
    margin-bottom: 10px;
    position: relative;
  }

  ion-card {
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  img {
    -webkit-filter: brightness(30%); /* Safari 6.0 - 9.0 */
    filter: brightness(30%);
    object-fit: cover;
    object-position: 50% 50%;
    height: 206px;
  }

  .card-title {
    text-align: left;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding: 15px;
  }

  .card-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;


    &.is-partner {
      border-left: 5px solid red;
      .card-title {

        background: #fff;
        & img {
          height: auto;
          object-fit: cover;
          -webkit-filter: none; /* Safari 6.0 - 9.0 */
          filter: none;
          max-height: 60px;
        }
      }
    }
    // background: rgba(33, 29, 91, 0.9);
    .group-owner {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }
    .group-type {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 30px;
      height: 30px;
      font-size: 2em;
      &.CLOSED {
        color: color($colors, alert);
      }
      &.PRIVATE {
        color: color($colors, danger);
      }
      &.PUBLIC {
        color: color($colors, favorite);
      }
    }
  }


  .card-transparent {
    background: rgba(33, 33, 33, 0.6);
  }

  .card-subtitle {
    font-size: 12px;
    margin: 0 0 12px;
    font-weight: 200;
    text-align: left;
    width: 100%;
    color: #fff;
  }
  .card-button {
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    &.active {
      opacity: 1;
      transform: translate(0%, 0%);
    }
  }
}
