<div class="card-holder" >
    <ion-card (click)="selectItem(group)">
      <img [src]="(avatarPhoto) ? avatarPhoto : 'https://api.adorable.io/avatars/247/' + group.groupName + '.png'" alt="title" />
      <div class="card-content" [class.is-partner]="group.logo" [style.borderColor]="group.brandcolor">

        <div class="card-title" *ngIf="!group.logo" >
          <h3>
            {{group.groupName | uppercase}} 
          </h3>
        </div>
        <div class="card-title" *ngIf="group.logo" >
          <img [src]="group.logo" [alt]="group.groupName + ' logo'" />
        </div>
        <div class="card-subtitle">
          <h5 text-right padding>{{group.seasonName}}</h5>
        </div>
        <button *ngIf="group.closed" class="card-button" [class.active]="group.active" ion-button small block>{{ 'JOIN' | translate }}</button>
        <div *ngIf="ownerPhoto"  class="group-owner" [style.background-image]="'url('+ ownerPhoto +')'" alt="group owner"></div>
        <div class="group-type {{group.groupType}}" >
            <ion-icon item-end *ngIf="group.groupType==='PRIVATE'" name="lock"></ion-icon>
            <ion-icon item-end *ngIf="group.groupType==='PUBLIC'" name="unlock"></ion-icon>
            <ion-icon item-end *ngIf="group.groupType==='CLOSED'" name="people"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>







