<!-- Generated template for the PartnerCarouselComponent component -->
<div class="partner-carousel"  fxLayout="row wrap" fxLayoutAlign="center center">
  <div class="partner-carousel__item" *ngFor="let partner of partners" [fxFlex]="(100/partners.length)" [fxFlex.xs]="25">
    <img [src]="partner.image" [alt]="partner.name" />
  </div>
</div>
