<!-- Generated template for the NewsFeedComponent component -->
<ion-list >
  <ng-container *ngFor="let item of feedData; let newsIndx = index">
    <button  ion-item (click)="clickNews(prettifyUrl(item.title))" *ngIf="newsIndx < showLimit" >
        <ion-avatar item-start *ngIf="!noavatar && item.urlToImage" >
            <img [src]="item.urlToImage">
          </ion-avatar>
        <h2>{{item.title}}</h2>
        <p text-right>{{item.publishedAt | date: 'short'}}</p>
    </button>
  </ng-container>
  </ion-list>
