page-home {
  .home-page {

  }
  .slogan {
    line-height: 64px;
  }
  .promo-banner {
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px;

    @media (max-width: 32em) {

    }

    &__control {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100px;
      height: 60px;
    }
  }
  .leftRs, .rightRs {
    background: #ffff;
    border: none;
    position: absolute;
    bottom: 0px;
  }
  .leftRs {
    left: 0px;
  }
  .rightRs {
    right: 0px;
  }
  .full-width {
    background: color($colors, darkblue);
  }
}
.sports__icons:nth-child(1) {
  & path {
  fill: color($colors, orange);
  }
  & circle {
    fill: color($colors, orange);
  }
}

.sports__icons:nth-child(2) {
  & path {
  fill: color($colors, third);
  }
  & circle {
    fill: color($colors, third);
  }
}

.sports__icons:nth-child(3) {
  & path {
  fill: color($colors, secondary);
  }
  & circle {
    fill: color($colors, secondary);
  }
}

.sports__icons:nth-child(4) {
  & path {
  fill: color($colors, danger);
  }
  & circle {
    fill: color($colors, danger);
  }
}
