<ion-header fixed>

  <ion-navbar>
    <ion-title>{{ 'SPORTS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid fixed>
    <div class="home-page" fxLayout="row wrap" fxLayout.xs="column wrap">
      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100">

        <home-section></home-section>

      </div>

      <div fxFlex="75" fxFlex.xs="100" fxFlex.sm="100">
        <div class="promo-banner">
          <ngu-carousel [inputs]="bannerCarousel">
            <ngu-item NguCarouselItem>
              <img src="/assets/banners/world-champoinship-2018.jpg" alt="Banner" />
            </ngu-item>
            <ngu-item NguCarouselItem>
              <img src="/assets/banners/iihf-budapest-2018.jpg" alt="Banner" />
            </ngu-item>
            <ngu-item NguCarouselItem>
              <img src="/assets/banners/tipzone-game-on-2018.jpg" alt="Banner" />
            </ngu-item>

            <div class="promo-banner__control">
              <button NguCarouselPrev class='leftRs'>&lt;</button>
              <button NguCarouselNext class='rightRs'>&gt;</button>
            </div>
          </ngu-carousel>
        </div>
      </div>

      <!-- <div fxFlex="100">
        <div class="" fxFlex="auto" text-center>
          <div class="sports__icons">
              <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 512 512">
                <path d="M280.127 131.962c.405.064.812.037 1.197-.066 9.645 5.621 18.839 7.478 27.426 5.492 15.336-3.549 22.473-18.074 22.771-18.691a4.938 4.938 0 1 0-5.815-6.887c-7.705 2.212-22.841-3.959-32.661-9.356.263-.278.522-.554.793-.824 10.405-10.271 26.294-13.01 39.533-6.819a2.91 2.91 0 0 0 4.073-2.013c3.641-16.785-1.374-34.087-13.413-46.283-19.583-19.839-51.656-20.051-71.497-.464-19.841 19.584-20.05 51.658-.467 71.5 7.638 7.737 17.337 12.718 28.06 14.411zm7.164-21.408c5.629 3.168 18.205 9.623 29.738 11.218-2.604 2.529-6.112 4.975-10.506 5.991-6.742 1.56-14.388-.459-22.775-5.979a35.055 35.055 0 0 1 3.543-11.23zM74.503 396.589l-1.284-.085c-3.358-.22-4.421-.356-4.993-.836-1.366-1.144-3.249-4.796-5.596-10.856l-16.75-43.257a7.219 7.219 0 0 0-6.693-4.587 7.16 7.16 0 0 0-2.59.484 7.132 7.132 0 0 0-3.976 3.794 7.134 7.134 0 0 0-.128 5.49l16.751 43.26c6.617 17.091 11.323 20.064 23.029 20.832l1.242.083c.167.012.333.018.498.018h.001c3.751 0 6.895-2.933 7.158-6.676.278-3.948-2.709-7.385-6.669-7.664zM303.479 461.623a7.145 7.145 0 0 0-4.959-1.99c-1.95 0-3.842.809-5.197 2.226l-.889.935c-2.313 2.445-3.097 3.176-3.828 3.311-.219.04-.488.059-.802.059-2.088 0-5.729-.879-11.128-2.688l-43.983-14.731a7.169 7.169 0 0 0-9.088 4.525c-.609 1.817-.474 3.764.382 5.48s2.327 2.996 4.145 3.604l43.986 14.734c7.144 2.393 11.844 3.414 15.716 3.414h.002c7.031 0 10.965-3.552 15.019-7.834l.859-.905c2.725-2.86 2.62-7.409-.235-10.14z"/>
                <path d="M432.315 434.699h-46.134L165.548 233.103l6.211-47.5 23.052-11.404-13.463 58.186 130.938 119.639-25.983-94.21 21.337-73.548 30.679 21.246 20.566 56.207c3.518 9.521 13.813 15.033 23.803 12.338 10.58-2.856 16.842-13.749 13.986-24.328l-17.738-65.722a19.64 19.64 0 0 0-6.634-10.194l-1.422-1.15-44.552-36.072c-4.033 3.463-9.273 6.631-15.837 8.15a35.738 35.738 0 0 1-8.034.912c-7.082 0-14.452-2.078-21.932-6.179a8.766 8.766 0 0 1-.761-.085c-11.885-1.877-22.645-7.404-31.111-15.981a55.737 55.737 0 0 1-11.778-17.687c-8.377-.741-15.437-.279-20.076 1.889l-73.939 46.583-2.07 1.303c-5.065 3.211-8.414 8.881-8.375 15.321l.413 68.107c.039 7.839 5.864 14.644 13.855 15.689 2.604.341 5.139.02 7.45-.814l17.032 15.592-17.621 46.755-77.789 17.404c-12.021 2.43-20.453 13.738-18.991 26.135 1.54 13.057 13.374 22.393 26.431 20.854l89.256-10.529c8.704-1.049 16.675-6.568 20.401-15.197l.677-1.566 19.617-45.425 38.613 35.346 6.683 20.387-11.152 62.221c-2.086 11.871 5.084 23.744 16.931 27.111 12.652 3.597 25.824-3.745 29.421-16.397l12.401-43.631 67.025 61.356 2.063 2.123a4.502 4.502 0 0 0 3.229 1.365h53.958a4.5 4.5 0 0 0 4.5-4.5v-14a4.506 4.506 0 0 0-4.503-4.504zM477.116 410.928h-37.423a2.88 2.88 0 0 0-2.878 2.879v15.676a2.878 2.878 0 0 0 2.878 2.879h37.423a2.877 2.877 0 0 0 2.878-2.879v-15.676a2.878 2.878 0 0 0-2.878-2.879z"/>
              </svg>

          </div>
          <p>Ice Hockey</p>
        </div>
        <div class="sports__icons" fxFlex="auto" text-center>
          <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 512 512">
                <path d="M395.837 313.833l-9.731-73.657a15.575 15.575 0 0 0-.612-2.668l-.428-1.293-25.261-76.324a26.753 26.753 0 0 0-.607-1.63c-4.984-12-86.54-42.732-97.354-41.155l-133.037 19.398c-7.348 1.063-12.935 7.448-12.805 15.067.143 8.265 6.957 14.849 15.221 14.706l107.767-1.848-44.295 115.861-54.117 79.14c-4.766 6.958-4.115 16.542 2.019 22.786 6.97 7.094 18.372 7.195 25.466.225l64.957-63.814-13.498 46.399-54.54 80.312c-5.035 7.475-3.81 17.775 3.217 23.753 7.55 6.425 18.877 5.512 25.302-2.037l66.124-77.707a15.463 15.463 0 0 0 2.392-3.877l1.047-2.472 67.891-170.07 15.07 36.286 12.991 70.446c1.804 9.68 10.903 16.409 20.78 15.104 10.208-1.351 17.391-10.722 16.041-20.931z"/>
                <circle cx="333.957" cy="83.377" r="44.742"/>
                <path d="M333.957 383.369c-24.813 0-45 20.187-45 45s20.188 45 45 45c24.813 0 45-20.187 45-45s-20.186-45-45-45zm31.661 58.763l-7.945-13.763 7.945-13.763h1.09c1.786 4.234 2.775 8.885 2.775 13.763s-.989 9.528-2.775 13.763h-1.09zm-19.026-46.959l-4.688 8.119h-15.893l-4.688-8.119a35.316 35.316 0 0 1 12.634-2.33c4.45 0 8.706.829 12.635 2.33zm3.259 33.196l-7.947 13.763h-15.893l-7.946-13.763 7.946-13.763h15.893l7.947 13.763zm-48.644-13.763h1.09l7.945 13.763-7.945 13.763h-1.09c-1.786-4.234-2.776-8.885-2.776-13.763s.99-9.528 2.776-13.763zm20.116 46.959l4.688-8.119h15.893l4.688 8.119a35.322 35.322 0 0 1-12.635 2.33 35.294 35.294 0 0 1-12.634-2.33z"/>
              </svg>
          </div>
          <p>Football</p>
        </div>
        <div class="sports__icons" fxFlex="auto" text-center>
          <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 512 512">
                <path d="M265.487 160.738c-11.913-5.555-26.073-.4-31.628 11.514l-26.957 57.814s-86.877 33.707-113.135 47.029c-22.236 11.281-14.324 49.027-14.324 49.027L96.316 439.44h111.213l-20.684-138.91 52.411-27.035a23.82 23.82 0 0 0 11.301-12.604l27.07-69.998c4.443-11.565-.738-24.839-12.14-30.155z"/>
                <circle cx="97.913" cy="196.669" r="52.241"/>
                <circle cx="321.401" cy="124.8" r="52.242"/>
                <path d="M461.329 190.367H344.997a5 5 0 0 0-5 5v22.947a5 5 0 0 0 5 5h9.39l8.22 75.201c.3 2.746 2.771 4.711 5.513 4.428l9.227-1.008a4.998 4.998 0 0 0 4.427-5.514l-.715-6.534 22.104-18.765 22.104 18.764-.715 6.534a5 5 0 0 0 4.427 5.514l9.227 1.008a5 5 0 0 0 5.514-4.428l8.219-75.201h9.39a5 5 0 0 0 5-5v-22.947a4.999 4.999 0 0 0-5-4.999zm-82.444 79.626l-2.347-21.471 13.82 11.731-11.473 9.74zm48.556 0l-11.473-9.739 13.82-11.731-2.347 21.47zm4.967-45.435l-29.245 24.826-29.244-24.826-.136-1.244h58.761l-.136 1.244z"/>
              </svg>

          </div>
          <p>BasketBall</p>
        </div>
        <div class="sports__icons" fxFlex="auto" text-center>
          <div class="">
              <svg xmlns="http://www.w3.org/2000/svg" width="68" height="68" viewBox="0 0 512 512">
                <path d="M177.494 412.965c26.143 1.121 51.844-.82 77.467-6.164 26.338-5.502 52.354-9.764 79.313-10.77 26.658-.992 53.928.609 81.023 3.301 25.486 2.602 50.518 2.066 75.703-2.859-25.533-5.445-50.379-11.24-75.305-19.078-26.5-8.328-53.18-13.27-80.959-14.459a327.193 327.193 0 0 0-25.131-.111l16.076-68.855 114.336-4.242c10.246-.408 18.688-8.645 19.088-19.064.418-10.947-8.117-20.162-19.064-20.58 0 0-149.008 9.68-175.107-4.693-23-12.668-44.652-50.453-46.084-60.5-1.43-10.049-1.777-81.641-1.777-81.641.051-7.998-5.922-14.926-14.051-15.881-8.725-1.025-16.629 5.215-17.654 13.941l-10.596 90.127a17.743 17.743 0 0 0 2.826 11.871l1.197 1.809 40.414 61.074-26.297 112.627c-5.131.453-10.283.854-15.486 1.148-12.045.035-25.836.84-38.514.434-14.965-.48-29.746-2.457-44.617-3.977C69.561 373.893 45.428 375 21 379.48c25.535 5.414 50.396 11.16 75.313 19.025 26.576 8.391 53.308 13.27 81.181 14.46zM334.736 417.908c-26.211-1.115-52.018.826-77.697 6.211-26.543 5.564-52.51 9.283-79.613 10.818-12.045.035-25.836.84-38.514.434-14.965-.48-29.746-2.457-44.617-3.977-24.734-2.529-48.867-1.422-73.295 3.059 25.535 5.414 50.396 11.16 75.313 19.025 26.576 8.391 53.309 13.27 81.182 14.459 26.143 1.121 51.844-.82 77.467-6.164 26.338-5.502 52.354-9.764 79.313-10.77 26.658-.992 53.928.609 81.023 3.301 25.486 2.602 50.518 2.066 75.703-2.859-25.533-5.445-50.379-11.24-75.305-19.078-26.501-8.328-53.18-13.269-80.96-14.459z"/>
                <path d="M250.719 182.193c-8.205 24.535 5.033 51.07 29.568 59.273 24.533 8.203 51.068-5.035 59.27-29.568 8.203-24.535-5.035-51.07-29.568-59.273s-51.071 5.039-59.27 29.568zM266.588 130.757c23.988 0 43.5-19.513 43.5-43.5s-19.512-43.5-43.5-43.5c-23.986 0-43.5 19.513-43.5 43.5s19.514 43.5 43.5 43.5zm0-8.259c-4.348 0-8.514-.798-12.365-2.246a120.2 120.2 0 0 1 .666-3.354c6.828-6.466 16.57-6.464 23.4 0a120.2 120.2 0 0 1 .666 3.354 35.064 35.064 0 0 1-12.367 2.246zm0-70.483c4.35 0 8.514.798 12.367 2.246-.205 1.1-.42 2.209-.666 3.349-6.83 6.466-16.572 6.463-23.4 0-.246-1.14-.461-2.25-.666-3.349a35.061 35.061 0 0 1 12.365-2.246zM246.672 75.55c14.385-3.088 25.449-3.088 39.834 0 6.465 6.832 6.463 16.575 0 23.404-14.385 3.091-25.449 3.092-39.834 0-6.467-6.829-6.465-16.571 0-23.404z"/>
              </svg>
          </div>
          <p>Water polo</p>
        </div>
      </div> -->

      <div fxFlex="100">
        <div padding-top padding-bottom fxLayout="row wrap">
          <ng-container *ngFor="let item of groupsStore.featured | async">
            <group-card [group]="item" fxFlex="20" fxFlex.xs="50" fxFlex.sm="20"></group-card>
          </ng-container>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <h3>{{ 'PARTNER' | translate }} {{ 'NEWS' | translate }}</h3>
        <news-feed></news-feed>
      </div>
      <div fxFlex="33" fxFlex.xs="100">
        <h3>{{ 'GROUP' | translate }} {{ 'NEWS' | translate }}</h3>
        <news-feed noavatar="true"></news-feed>
      </div>
      <div fxFlex="33" fxFlex.xs="100">
        <h3>TipZone {{ 'NEWS' | translate }}</h3>
        <news-feed noavatar="true"></news-feed>
      </div>

    </div>
  </ion-grid>
  <section class="full-width" padding-top>
    <partner-carousel></partner-carousel>
  </section>
</ion-content>
