<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header fixed>

  <ion-navbar>
    <ion-title>Something here</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page" has-header="true">
    <ion-toolbar fixed>
        <ion-segment [(ngModel)]="icons" color="darkorange" (ngModelChange)="refreshSearch()">
          <ion-segment-button value="csoportjaim">
              Csoportjaim
          </ion-segment-button>
          <ion-segment-button value="csatlakozas">
              Csatlakozas
          </ion-segment-button>
          <ion-segment-button color="primary"  (click)="createGroup()">
              Letrehozas
            </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
  <ion-grid fixed padding>

    <ion-searchbar (input)="getItems($event)" placeholder="{{ 'ENTER_A_TEAM,_SPORT,_OR_TOURNAMENT' | translate }} ..."></ion-searchbar>


    <ng-container *ngIf="(isSearching | async) === true">
      <ng-container *ngFor="let sport of sportListFiltered; let s = index">

        <sport-card [sport]="sport"></sport-card>

      </ng-container>
    </ng-container>

    <ng-container *ngIf="(isSearching | async) === false && icons === 'csoportjaim'">
      <h3>{{ 'MY_GROUPS' | translate }}</h3>

      <div fxLayout="row wrap" fxLayoutAlign="start center">

          <ng-container *ngFor="let item of groupsStore.usergroups | async">
            <group-card [group]="item" fxFlex="25" fxFlex.xs="100" fxFlex.sm="50"></group-card>
          </ng-container>

      </div>

    </ng-container>

    <ng-container *ngIf="icons === 'letrehozas'">
      <div class="" fxLayout="row wrap" fxLayoutAlign="space-between start" >
        <h2 fxFlex="100" fxFlex.gt-xs="80" *ngIf="(usergroupsize | async) < 0">{{ 'YOU_DONT_HAVE_A_GROUP_YET' | translate }}?</h2>
        <div class="" fxFlex="100" fxFlex.gt-xs="20">
          <button ion-button large block (click)="createGroup()">{{ 'CREATE_A_GROUP' | translate }}</button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="(isSearching | async) === false && icons === 'csatlakozas'">
      <h3>{{ 'CHOOSE_A_GROUP' | translate }}</h3>
      <div fxLayout="row wrap" fxLayoutAlign="start center">

          <ng-container *ngFor="let item of (groupsStore.groups | async) | filterByImpure: ['featured']: true">
              <group-card [group]="item" fxFlex="25" fxFlex.xs="100" fxFlex.sm="50"></group-card>
            </ng-container>

            <ng-container *ngFor="let item of (groupsStore.groups | async) | filterByImpure: ['featured']: false | orderBy: 'updatedAt'">
                <group-card [group]="item" fxFlex="25" fxFlex.xs="100" fxFlex.sm="50"></group-card>
              </ng-container>

        <!-- <div class="card-holder" *ngFor="let item of groupsStore.groups | async" fxFlex="25" fxFlex.xs="100" fxFlex.sm="50">
          <ion-card (click)="selectItem(item)">
            <img [src]="(item.image) ? item.image : '/assets/imgs/logo.png'" alt="title" />
            <div class="card-content">
              <div class="card-subtitle">{{item.seasonName}}</div>
              <div class="card-title">{{item.groupName}} [{{item.groupType}}]</div>
              <button *ngIf="item.closed" class="card-button" [class.active]="item.active" ion-button small block>{{ 'JOIN' | translate }}</button>
            </div>
          </ion-card>
        </div> -->

      </div>
    </ng-container>

  </ion-grid>
</ion-content>
