page-groups {
  padding-left: 10px;
  .card-ios, .card-md {
    margin: 0px 0 0 10px;
    box-shadow: none;
  }
  .card-holder {
    margin-bottom: 10px;
    position: relative;
  }

  ion-card {
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  img {
    -webkit-filter: brightness(30%); /* Safari 6.0 - 9.0 */
    filter: brightness(30%);
  }
  .card-content {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 15px;
    background: rgba(33, 29, 91, 0.9);
  }

  .card-transparent {
    background: rgba(33, 33, 33, 0.6);
  }

  .card-title {
    text-align: left;
    font-size: 16px;
    width: 100%;
    font-weight: 300;
    color: #fff;
  }

  .card-subtitle {
    font-size: 12px;
    margin: 0 0 12px;
    font-weight: 200;
    text-align: left;
    width: 100%;
    color: #fff;
  }
  .card-button {
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    &.active {
      opacity: 1;
      transform: translate(0%, 0%);
    }
  }
}



.card-background-page {

  .card {
    // background: rgba(255, 255, 255, 0.3);
    margin: 15px 15px;
    &__link {
      text-decoration: none;
      color: color($colors, light);
    }
    &__image {
      margin-bottom: -19px;
    }

    img {
      -webkit-filter: url('#svgfilter');
      filter: url('#svgfilter');
    }
  }

  .card-title {
    font-size: 2.0em;
    font-weight: 100;
  }

  .card-subtitle {
    font-size: 1.0em;
  }

}
