.static-page {
  margin: 60px auto 0 auto;
  @media (min-width: 768px) {
    margin: 60px auto;
  }
  &__wrapper {
    background: #fff;
    padding: 15px 15px;
    max-width: 570px;
    h1, h2, h3, h5, p, li {
      color: #211C5B;
      font-family: sans-serif;

    }
  }
}
