<top-navigation class="top-navigation"></top-navigation>

<ion-content>
  <ion-grid fixed>
    <section class="static-page">
      <div class="static-page__wrapper">
        <div class="static-page__inner">
          <markdown [data]="pageContent"></markdown>
        </div>
      </div>
    </section>
  </ion-grid>
</ion-content>

<footer-section></footer-section>
