<ion-header fixed>
  <ion-navbar>
    <ion-title>
      {{ 'SETTINGS' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
    <ion-list>
      <button ion-item [navPush]="aboutPage">
        About this app
      </button>
      <button ion-item [navPush]="accountPage">
        Account
      </button>
      <button ion-item (click)="logout()">
        <ion-label color="danger">Logout</ion-label>
      </button>
    </ion-list>
    </ion-grid>
</ion-content>
