event-banner {
  .event-banner {
    position: relative;
    margin: 0px auto 12px auto;

    &__top {
      position: absolute;
      font-size: 10px;
      top: 0px;
      left: 0px;
      width: 100%;
      &--date {
        margin: 8px 10px;
      }
      &--game {
        margin: 8px 10px;
        text-align: right;
      }

      &--button {
        position: absolute;
        top: 0px;
        right: 15px;
      }

    }

    &__inner {
      text-align: center;
      padding: 25px 5px 5px;
      background: rgba(255, 255, 255, 0.2);

      &.is-active {
        background: rgba(239, 62, 42, 0.5);
      }

      &.not-started {
        // background: rgba(184, 233, 134, 0.5);
      }

      &.is-started {
        background: rgba(100,204, 236, 1);
      }

      &.is-ended {
        background: rgba(100,204, 236, 0.5);
      }

      // margin: 15px 0px;

      & > div:not(:last-child) {
        // margin-right: 10px;
      }

      &--title h4 {
        font-size: 16px;
        text-align: right;
        margin: 0;
        &.left {
          text-align: left;
        }
      }
      &--flag {
        text-align: center;
        &__inner {
          text-align: right;
          overflow: hidden;
          border-radius: 50%;
        }
        &--image {
          max-width: none;
          width: 200%;
          height: 100%;
          margin-left: -50%;
          margin-bottom: -5px;
        }
      }
      &--input input {
        width: 20px;
      }
      &--seperator {
        h2 {
          font-size: 36px;
        }
      }
    }
    &__h1 {
      margin: 0;
      font-size: 36px;
      color: #fff;
      font-weight: 900;
      font-family: sans-serif;
    }
    &__h4 {
      margin: 0;
    }

    &__footer {

      &--message {
        margin: 0 auto;
        text-align: center;
        padding: 6px;
        width: 100%;


      }
    }

  }

  .flag-right {
    float: right;
  }

  ion-card {
    overflow: visible;
  }
  .rounded-image {
    border-radius: 50%;
    min-height: 50px;
    object-fit: cover;
    max-width: 50px;
    padding: 5px;
  }

  .team-name {
    font-size: 12px;
  }
  .team-name-abs {
    font-size: 21px;
  }
  .picker__wrapper {
    min-width: 75px;
  }
  .picker {
    position: relative;
    float: left;
  }
  .pickInput {
    max-width: 30px;
    color: #333;
    padding: 5px;
    text-align: center;
  }
  .pickerList {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: none;
    position: absolute;
    z-index: 3;

    &.active {
      display: block;
    }
    li {
      button {
        background: none;
        border: none;
        padding: 5px 11px;
        background: #fff;
      }
    }
  }
  & .active {
    background: color($colors, darkblue);
    color: $white;
  }
  & .started {
    background: color($colors, orange);

  }
  & .ended {
    background: color($colors, dark);
    color: $white;
  }
}


