<ion-card [color]="'has_' + result.status" [attr.rel]="result.resultId">
  <ion-row align-items-start>
    <ion-col>
      <p text-left>{{date | date: 'MMM d, EEEE'}}</p>
    </ion-col>
    <ion-col>
        <div class="" text-center *ngIf="result.status === 'not_started'">
            <button *ngIf="(doneEditing | async) !== 'done'" ion-button outline small icon-only color="favorite" (click)="saveValue()" >
              <ion-icon name="unlock"></ion-icon>
            </button>
            <button *ngIf="(doneEditing | async) === 'done'" ion-button outline small icon-only color="danger" (click)="clearBets()">
              <ion-icon name="lock"></ion-icon>
            </button>
          </div>
          
    </ion-col>
    <ion-col>
      <p text-right>{{result.tournament.sport.name}}</p>
    </ion-col>
  </ion-row>
  <ion-row align-items-center>
    <ion-col col-2 align-self-start>
      <ion-avatar>
        <img class="rounded-image" [src]="getCompetitorFlag(homeTeam)">
      </ion-avatar>
    </ion-col>
    <ion-col col-2 col-sm-3>
      <h3 class="team-name" text-right fxHide.xs>{{homeTeam.name}}</h3>
      <h5 class="team-name-abs" text-right fxHide.gt-xs>{{homeTeam.abbreviation}}</h5>
    </ion-col>
    <ion-col col-4 col-sm-2>
      <ng-container *ngIf="result.status ==='closed'">
        <h1 text-center *ngIf="result.sport_event_status.home_score >= 0 && result.sport_event_status.away_score >= 0" >
          {{result.sport_event_status.home_score}} - {{result.sport_event_status.away_score}}
        </h1>
      </ng-container>

      <h1 text-center *ngIf="(doneEditing | async) && homeTeam.pick && guestTeam.pick && result.status !=='closed'" >
        {{homeTeam.pick}} - {{guestTeam.pick}}
      </h1>

      <h2 *ngIf="result.status === 'live'" >LIVE</h2>
    
      <div *ngIf="(doneEditing | async) !== 'done' && result.status !== 'live'" class="picker__wrapper" fxLayout="row" fxLayoutAlign="space-around start">
        <div class="picker">
          <input class="pickInput"  type="tel" [(ngModel)]="homeTeam.pick"/>
          <!-- <ul class="pickerList" [class.active]="pickOne">
          <li *ngFor="let pick of [0, 1, 2, 3, 4]">
            <button (click)="pickPoint('pick1', pick)">{{pick}}</button>
          </li>
        </ul> -->
        </div>
        <div class="picker">
          <input class="pickInput" type="tel"  [(ngModel)]="guestTeam.pick"
          />
          <!-- <ul class="pickerList" [class.active]="pickTwo">
            <li *ngFor="let pick of [0, 1, 2, 3, 4]">
              <button (click)="pickPoint('pick2', pick)">{{pick}}</button>
            </li>
          </ul> -->
        </div>
      </div>

    </ion-col>
    <ion-col col-2 col-sm-3>
      <h3 class="team-name" text-left fxHide.xs>{{guestTeam.name}}</h3>
      <h5 class="team-name-abs" text-left fxHide.gt-xs>{{guestTeam.abbreviation}}</h5>
    </ion-col>
    <ion-col col-2 align-self-start>
      <ion-avatar class="flag-right">
        <img class="rounded-image" [src]="getCompetitorFlag(guestTeam)">
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row [class.active]="isActive" [class.started]="isStarted" [class.ended]="isEnded">
    <ion-col text-left>
      <div>
        {{result.tournament?.category?.name}}
      </div>
    </ion-col>
    <ion-col text-center>
      <div *ngIf="result.status ==='not_started'" >{{date | date: 'HH:mm'}}</div>
      <div *ngIf="result.status ==='in_progress' && result.status ==='live'">LIVE</div>
      <div *ngIf="result.status ==='ended'">END</div>
    </ion-col>
    <ion-col center text-right>
      <small>{{result.venue?.name}}</small>
    </ion-col>
  </ion-row>
</ion-card>
