@import "./ionic.globals";





// A new dark theme for ionic2+
// ----------------------------------------

// this can go into variables.scss too - I like
// it here so its in one place. If you move it to variables.scss,
// remember to copy over the complete map and then extend it
// $colors: (
//   primary:    (base: #b8e986, contrast:#000),
//   secondary:  (base: #007ACC, contrast: #000),
//   danger:     #f43e00,
//   light:      (base:#bdc3c7, contrast:#000),
//   dark:       (base:#4A4A4A, contrast:#fff),
//   alert:      #F39C12,
//   facebook:   (base:#4267b2, contrast:#fff),
//   google:     (base:#ffffff, contrast:#000),

// ) !default;


$text-color:                 #DADFE1 !default;
$link-color:                 color($colors, primary) !default;
$background-color:           transparent !default;
$subdued-text-color:         #666 !default;

$font-family-base:           "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$content-padding:            16px !default;
$content-margin:             16px !default;

$content-outer-background: transparent !default;
$content-ios-transition-background: transparent !default;


// $toolbar-background:         rgba(52, 52, 52, 0.6) !default;
$toolbar-background:         rgba(255, 255, 255, 1) !default;
$toolbar-border-color:       rgba(52, 52, 52, 0.6) !default;

$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #8c8c8c !default;

$tabs-background:            rgba(52, 52, 52, 0.6) !default;
$tabs-border-color:          rgba(52, 52, 52, 0.6) !default;
$tabs-tab-color-inactive:    #8c8c8c !default;
$tabs-tab-color-active:      $link-color !default;

$list-text-color:            $text-color !default;
$list-background-color:      transparent !default;
$list-border-color:          #4C4C4C !default;
$list-header-color:          $text-color !default;
$list-activated-background-color: #656565 !default;


$card-text-color:           $text-color !default;


$item-divider-color: $text-color !default;
$item-divider-background: #515151 !default;

$toast-background: #019875 !default;

$spinner-ios-crescent-color: color($colors, orange);
$refresher-icon-color: color($colors, orange);
$refresher-text-color: color($colors, orange);
$refresher-border-color: color($colors, orange);

$tabs-tab-color-inactive: #808080 !default;

$searchbar-input-text-color: #333 !default;
$searchbar-input-placeholder-color: #fff !default;
$searchbar-input-background-color: rgba(255, 255, 255, 0.6) !default;
$searchbar-ios-background-color: transparent !default;

$toggle-background-color-off:#696969 !default;
$toggle-background-color-on:#b8e986 !default;

$popover-ios-background: #333 !default;
$popover-md-background: #333 !default;
$popover-wp-background: #333 !default;

$alert-background: #343434 !default;
$alert-button-background-color-activated: lighten($alert-background,30%) !default;
$alert-message-text-color: $text-color !default;
$alert-input-background-color: #bdc3c7 !default;
$alert-input-text-color: #fff !default;
$alert-ios-radio-label-text-color: #fff !default;

::-webkit-scrollbar {
  background-color: $toolbar-background;
  }

::-webkit-scrollbar-thumb {
  background-color:#696969;
  }

.alert-input {
  color: $alert-input-text-color;
  background-color: $alert-input-background-color;
}

body {
  //background-color: $background-color;
  color: $text-color;
}

:ng-deep .scroll-content {
  padding: 44px 0px 44px 0px;;
}

.tabbar.show-tabbar {

}
.platform-core .ion-page + .ion-page {
  margin-top: 112px;
}
.platform-mobile .ion-page + .ion-page {
  margin-top: 60px;
}

.menu-inner .scroll-content {
  background: #fff;
}
.top-navigation + [tabs-placement=top].tabs {
  top: 60px;
}

h2, h3 {
  margin-left: 15px;
}

button {
  cursor: pointer;
}

$button-round-border-radius: 0px;
$button-md-border-radius: 0px;
$button-ios-border-radius: 0px;

$segment-button-ios-background-color-activated: color($colors, primary) !default;
// $segment-button-ios-text-color: $text-color;
$segment-button-ios-border-radius: 0px;
$toolbar-ios-active-color: $text-color;

.grid {
  padding: 0px !important;
}

.segment-tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  &__item {
    flex: 1 1 33%;
    text-align: center;
    padding: 12px 24px;
    max-width: 33%;
    &.auto-width {
      flex: 1 1 auto;
      max-width: 50%;
    }
    & button {
      font-family: Avenir;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 2px;
      background: transparent;
      border: none;
      color: color($colors, light);
      cursor: pointer;
      margin-bottom: 6px;
    }
    &.active {
      border-bottom: solid 6px color($colors, orange);
      margin-bottom: 0px;
    }
  }
}

.segment, .segment-md {
  max-width: 1134px;
}

.position-list {
  min-height: 310px;
  max-width: 540px;
  margin: 0 auto;
  
  &__item {
    background-color: color($colors, darkblue);

    border-bottom: 1px solid $white;
    padding: 5px;
    &:nth-child(2n) {
      background: rgba(52, 52, 52, 0.6);
    }
    &--position {
      .position-circle {
        min-width: 30px;
        height: 30px;
        // border-radius: 60px;
        color: #fff;
        font-family: Avenir;
        font-size: 14px;
        line-height: 1.0;
        text-align: center;
        color: $white;
        padding: 7px 0px;
        &.lead {
          background-color: rgba(80, 227, 194, 0.5);
        }
        &.middle {
          background-color: rgba(245, 166, 35, 0.5);
        }
        &.outter {
          background-color: rgba(74, 144, 226, 0.5);
        }
      }
    }
    &--name {
      font-family: Avenir;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: $white;
    }
    &--scores {
      // background: rgba(255, 255,255,0.4);
      // border-radius: 50%;
      font-family: Avenir;
      font-size: 14px;
      font-weight: 300;
      text-align: left;
      color: $white;
    }
    &--points {
      font-family: Avenir;
      font-size: 1em;
      font-weight: 300;
      text-align: right;
      color: $white;
      padding: 0 5px
    }
  }
}

.no-padding {
  padding: 0px 0px;
}

.no-margin {
  margin: 0px 0px;
}

markdown {
  h1 {
    text-align: center;
    font-size: 34px;
    font-family: 'TPSecondary';
    color: #fff;

  }
  h2, h3, h4, h5 {
    text-align: center;
    line-height: 1.54;
  }
  img {
    max-width: 100%;
    padding: 15px;
  }
  strong {
    color: color($colors, orange);
  }
}


.show-page .content {
  background: color($colors, darkblue);
}
@import "./dark.platforms.scss"
