$white:               rgb(255, 255, 255);
$light-sage-50:       rgba(184, 233, 134, 0.5);
$light-sage:          rgb(184, 233, 134);
$light-rose:          rgba(239, 62, 42, 0.5);
$light-blue:          rgba(100,204, 236, 1);
$light-green:         rgba(100,204, 236, 0.5);

$colors: (
    primary:   (base: #EF7A2A, contrast:#fff),
    secondary:  (base: #03A9F4, contrast: #fff),
    danger:     (base:#f43e00, contrast: #fff),
    third:     (base:#69BB7B, contrast: #fff),
    light:      (base:#fff, contrast:#211C5B),
    dark:       (base:#4A4A4A, contrast:#fff),
    alert:      #F39C12,
    favorite:   #69BB7B,
    twitter:    #1da1f4,
    google:     #dc4a38,
    vimeo:      #23b6ea,
    facebook:   #405686,
    darkblue:     (base:#211C5B, contrast:#fff),
    darkorange:     (base:#EF7A2A, contrast:#211C5B),
    orange:       (base:#EF7A2A, contrast:#fff),
    has_in_progress:    (base:#EF7A2A, contrast:#fff),
    has_not_started:    (base: $light-rose, contrast:#fff),
    has_closed:    (base: $light-blue, contrast:#fff),
    has_ended:          (base:#64CCEC, contrast:#fff),
    has_live:          (base:#69BB7B, contrast:#fff)
  );
