@font-face {
    font-family: Avenir;
    src: url('/assets/fonts/avenir-roman-webfont.eot');
    src: url('/assets/fonts/avenir-roman-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/avenir-roman-webfont.woff2') format('woff2'), url('/assets/fonts/avenir-roman-webfont.woff') format('woff'), url('/assets/fonts/avenir-roman-webfont.ttf') format('truetype'), url('/assets/fonts/avenir-roman-webfont.svg#avenir_55roman') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url('/assets/fonts/avenir-light-webfont.eot');
    src: url('/assets/fonts/avenir-light-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/avenir-light-webfont.woff2') format('woff2'), url('/assets/fonts/avenir-light-webfont.woff') format('woff'), url('/assets/fonts/avenir-light-webfont.ttf') format('truetype'), url('/assets/fonts/avenir-light-webfont.svg#avenir_35_lightregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url('/assets/fonts/avenir-medium-webfont.eot');
    src: url('/assets/fonts/avenir-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/avenir-medium-webfont.woff2') format('woff2'), url('/assets/fonts/avenir-medium-webfont.woff') format('woff'), url('/assets/fonts/avenir-medium-webfont.ttf') format('truetype'), url('/assets/fonts/avenir-medium-webfont.svg#avenirregular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TPSecondary';
    src: url('/assets/fonts/GuardianCondensed.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/GuardianCondensed.woff') format('woff'), url('/assets/fonts/GuardianCondensed.ttf') format('truetype'), url('/assets/fonts/GuardianCondensed.svg#GuardianCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
