<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons *ngIf="group"  end>
      <button ion-button icon-only color="danger" clear (click)="auth.addOrRemoveFavorite(group)">
        <ion-icon [name]="(auth.hasFavorite(group)) ? 'star' : 'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
              
    <ion-title *ngIf="group?.groupName" >
    {{group?.groupName}} / <small>{{group?.seasonName}}</small>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid fixed>
    <div *ngIf="!isResultLoading && group; else page_loader">
      <ng-container *ngFor="let group of (groupsStore.group | async)">
        <div class="group__wrapper">
          <!-- <div class="group__header" fxLayout="row" fxLayoutAlign="center center">
            <h2 *ngIf="group" fxFlex="auto">{{group.groupName}} </h2>
            <small fxFlex="20" text-right>
              {{group.seasonName}}
            </small>
            <div class="is-favorited" fxFlex="10" text-right>

              
            </div>
          </div> -->

          <div class="page-top" [class.active]="mode==='details'">

            <ion-item *ngIf="(isOwner | async) === true">
              <button ion-button clear (click)="selectAvatar()" *ngIf="isEditing" >
                {{(!avatarPhoto)? ('ADD_COVER_PHOTO' | translate) : ('CHANGE_COVER_PHOTO' | translate) }} </button>
              <input #avatar class="avatar-input" type="file" (change)="uploadFromFile($event)" />
              <button ion-button outline item-end [color]="(isEditing) ? 'primary' : 'third'" (click)="isEditing=!isEditing">
                {{(isEditing)?('DONE' | translate):('EDIT' | translate)}}
              </button>
            </ion-item>
            <!-- <ion-item *ngIf="(isOwner | async) === true && isEditing">
              <button ion-button clear (click)="selectBackground()">
                {{(!avatarPhoto)? ('ADD_BACKGROUND_PHOTO' | translate) : ('CHANGE_BACKGROUND_PHOTO' | translate) }} </button>
              <input #groupbackground class="avatar-input" type="file" (change)="uploadBackgroundFromFile($event)" />
            </ion-item> -->
          </div>

          <div class="segment-tab" fxHide.gt-xs>
            <div class="segment-tab__item" [class.active]="mode==='details'">
              <button (click)="mode='details'">{{ 'DETAILS' | translate }}</button>
            </div>
            <div class="segment-tab__item" [class.active]="mode==='mytips'">
              <button (click)="mode='mytips'">{{ 'TABELLA' | translate }}</button>
            </div>
            <!-- <div class="segment-tab__item" [class.active]="mode==='tabella'">
              <button (click)="mode='tabella'">{{ 'TABELLA' | translate }}</button>
            </div> -->
            <div class="segment-tab__item" [class.active]="mode==='tabella'">
              <button (click)="mode='standing'">{{ 'TOURNAMENT' | translate }}</button>
            </div>
          </div>

          <div fxLayout="row wrap">
            <div class="" [fxHide.xs]="mode!=='details'" fxFlex="20" fxFlex.xs="100">
              <div class="" padding-bottom padding-right>
                <button ion-item icon-start color="orange">
                    <ion-icon name="share"></ion-icon>
                    Share
                  </button>
                  <button ion-item color="darkblue" (click)="inviteUser()">
                      Invite
                  </button>
                  <!-- <button ion-item color="darkblue">
                      Rules
                  </button> -->
                  <div class="item-divider"></div>
                  
                  <ion-item text-wrap>
                    <p *ngIf="!isEditing"  >{{groupDescription}}</p>
                    <textarea *ngIf="isEditing" rows="15" [(ngModel)]="groupDescription"></textarea>
                  </ion-item>
                  <button ion-item color="orange" *ngIf="(isOwner | async) === true" >
                    Add news
                </button>
              </div>
              <div padding *ngIf="avatarPhoto">
                <div class="avatar" [style.background-image]="'url('+ avatarPhoto +')'"></div>
              </div>
              <div class="" padding-bottom padding-right>
                <button ion-button block color="secondary" *ngIf="isEditing && (isOwner | async) === true" (click)="saveGroupDetails();">Save</button>
                <button ion-button block color="danger" *ngIf="!isEditing && (isMember | async) === true" (click)="userLeaveGroup()">{{ 'LEAVE_THIS_GROUP' | translate }}</button>
                <button ion-button block color="primary" *ngIf="(isMember | async) === false && group.groupType === 'PUBLIC'" (click)="userJoinTheGroup()">{{ 'JOIN_THE_GROUP' | translate }}</button>
                <button ion-button block color="third" *ngIf="(isMember | async) === false && group.groupType !== 'PUBLIC'" (click)="requestJoinToGroup()">{{ 'REQUEST_TO_JOIN_THE_GROUP' | translate }}</button>
              </div>
            </div>



            <div class="" fxFlex="30" [fxHide.xs]="mode!=='mytips'" fxFlex.xs="100" *ngIf="groupResults">
                  <ion-card>
                  <ion-card-content>
                    <leader-board [seasonId]="group.seasonId" [isMember]="isMember"></leader-board>
                  </ion-card-content>
                  </ion-card>
                <hr/>
                  <ion-card>
                    <ion-card-header>
                      <h3>{{ 'NEWS' | translate }}</h3>
                    </ion-card-header>
                    <ion-card-content>
                      <news-feed [feed]="newsStore.news | async"></news-feed>
                    </ion-card-content>
                  </ion-card>

            </div>

            <div class="" fxFlex="50" [fxHide.xs]="mode!=='tabella'" fxFlex.xs="100">
                <div class="" padding>
                  <season-standing [seasonId]="group.seasonId"></season-standing>
                </div>

            </div>

          </div>

        </div>
      </ng-container>

    </div>
    <ng-template #page_loader>
      <ion-spinner name="bubbles">
        Loading...
      </ion-spinner>  
    </ng-template>
  </ion-grid>
</ion-content>
