page-group {
  .card-md, .card-ios {
    // background: #fff;
  }
  .avatar-input {
    display: none;
  }
  .page-top {
    // margin-top: -221px;
    // transition: margin-top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.active {
      margin-top: 0px;
    }
  }
  .avatar {
    display: block;
    width: 100%;
    height: 150px;
    // border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    margin: 0 auto;
    // border: 5px solid #f1f1f1;
    // box-shadow: 0 0 5px #999;
  }
  textarea {
    color: color($colors, darkblue);
  }

  p {
    @include themify($themes) {
      fill: themed('contrast');
    }
  }
  .item-md p, .item-ios p {
    @include themify($themes) {
      color: themed('contrast');
    }
  }
}
