<div class="background theme-{{mainTheme}}" *ngIf="backgroundImages" [class.fadeIn]="backgroundImages.loaded" [style.backgroundImage]="'url('+ backgroundImages.urls.regular +')'">
    <!-- backgroundImages.urls.full -->
  <p class="credit" *ngIf="backgroundImages && backgroundImages.user" >Photo by {{backgroundImages.user.name}} on Unsplash</p>
</div>


  <ion-menu side="right" [content]="mycontent" id="loggedInMenu">
    <ion-header>
        <ion-navbar>
          <ion-title>
              <h3 class="slogan">{{ 'PICK_AND_HAVE_FUN' | translate }}!</h3>
          </ion-title>
        </ion-navbar>
      </ion-header>
    <ion-content>
      <!-- <ion-list>
        <ion-item-divider color="dark">{{ 'SPORTS' | translate }}</ion-item-divider>
        <button ion-item color="light"  (click)="setSport('Football')">Football</button>
        <button ion-item color="light"  (click)="setSport('Handball')">Handball</button>
        <button ion-item color="light"  (click)="setSport('Ice Hockey')">Ice Hockey</button>
      </ion-list> -->
      <ion-list >
          <ion-item-divider color="dark">{{ 'MAIN' | translate }}</ion-item-divider>
            <button ion-item color="light" (click)="openPage(p)" menuToggle *ngFor="let p of pages">
                <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
              {{p.title | translate}}
            </button>
        </ion-list>
      <ion-list fxHide.gt-sm>
          <ion-item-divider color="dark">{{ 'MORE' | translate }}</ion-item-divider>
            <button ion-item color="light" (click)="openPage(p)" menuToggle *ngFor="let p of morePages">
              {{p.title | translate}}
            </button>
        </ion-list>
      <ion-list>
        <button ion-item (click)="restartApp()">
          <ion-label color="danger">{{ 'RESTART' | translate }}</ion-label>
        </button>
        <button ion-item (click)="logout()">
            <ion-label color="danger">{{ 'LOGOUT' | translate }}</ion-label>
          </button>
      </ion-list>
    </ion-content>
    <ion-footer>
        <ion-toolbar color="darkblue">
          <p class="nav-footer" text-center no-padding><img src="/assets/imgs/tipzone-logo3.svg" class="nav-footer__logo" alt="Tipzone footer logo" /></p>
        </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <div class="theme-{{mainTheme}}">
    <ion-nav id="nav" #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
  </div>
  <tipzone-cookie-tab></tipzone-cookie-tab>
  <!-- <page-loader-progress [isLoading]="pageLoader"></page-loader-progress> -->
