// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content-ios, .content-md {
  // background: color( $colors, darkblue);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include themify($themes) {
    background: themed('alternative') !important;
  }
}


body {
  background: color($colors, darkblue);
}

.background {
  
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  opacity: 0;

  & .credit {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  & > img {
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.fadeIn {
    transition: opacity .5s ease-out;
    opacity: 1;
  }
}

.nav-footer {
  margin: 4px 0px;
  &__logo {
    max-height: 30px;
  }
}

ion-header .toolbar {
  margin: auto;
  .slogan {
    font-family: 'TPSecondary';
    font-size: 10px;
    &.big {
      font-size: 1.2em;
    }
  }
 }
//  @media (max-width: 576px) {
//   .platform-core .tab-button.has-title .tab-button-icon {
//       padding:0;
//       text-align: center
//   }

//   .platform-core .tab-button.has-title .tab-button-text {
//       display: none
//   }
// }

 @media (min-width: map-get($grid-breakpoints, lg)) {
  ion-navbar.toolbar,
  ion-header .toolbar[fixed],
  ion-footer .toolbar[fixed],
  ion-tabs .tabbar {
    margin: 0;
    padding-right: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
    padding-left: calc((100% - #{map-get($grid-max-widths, lg)}) / 2);
  }
 }


