<!--
  Generated template for the SportsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header fixed>

  <ion-navbar>
    <ion-title>{{ 'SPORTS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    
  <ion-grid fixed>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="20" fxFlex.xs="100" text-left>
          <ion-item>
              <ion-select interface="popover" [(ngModel)]="sportsFilter">
                  <ion-option value="">All sports</ion-option>
                  <ion-option *ngFor="let sport of sportList | keys" >{{sport}}</ion-option>
              </ion-select>
            </ion-item>
      </div>
      <div fxFlex="auto" fxFlex.xs="100" text-center>
          <ion-item *ngIf="(resultStore.filters | async)" >
              <ion-select interface="popover" [(ngModel)]="seasonFilter">
                <ion-option value="">All season</ion-option>
                <ion-option *ngFor="let season of (resultStore.filters | async)[sportsFilter]" [value]="season.id">{{season.name}}</ion-option>
              </ion-select>
            </ion-item>
      </div>
      <div fxFlex="20" fxFlex.xs="100" text-right>
          <ion-item *ngIf="(resultStore.filters | async)">
              <ion-select interface="popover" [(ngModel)]="playersFilter">
                <ion-option value="">All round</ion-option>
                <ion-option *ngFor="let round of [1, 2, 3]" [value]="round" >Round {{round}}</ion-option>
              </ion-select>
            </ion-item>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <div text-center *ngIf="!(resultStore.results | async)?.length" fxFlex="100" padding>
        <ion-spinner color="orange" name="crescent"></ion-spinner>
        <h5>Loading...</h5>
      </div>
      <ng-container *ngFor="let result of (resultStore.results | async) | filterByImpure: ['tournament.sport.name']: sportsFilter | filterByImpure: ['seasonId']: seasonFilter | filterByImpure: ['tournament_round.number']: playersFilter | filterByImpure: ['status']: (playersFilter) ? '' : 'not_started'; let idx = index">
        <!-- <ng-container *ngIf="idx < 20" > -->
          <event-banner [result]="result" [userpick]="userPicksByResult(result.seasonId, result.resultId)" fxFlex="50" fxFlex.xs="100"></event-banner>
        <!-- </ng-container> -->
      </ng-container>


      <h5 text-center fxFlex="100" *ngIf="((resultStore.results | async) | filterByImpure: ['tournament.sport.name']: sportsFilter | filterByImpure: ['seasonId']: seasonFilter || '' | filterByImpure: ['tournament_round.number']: playersFilter || '' | filterByImpure: ['status']: 'not_started')?.length > 10" >Its 10 of the {{((resultStore.results | async) | filterByImpure: ['tournament.sport.name']: sportsFilter | filterByImpure: ['seasonId']: seasonFilter || null | filterByImpure: ['tournament_round.number']: playersFilter || null | filterByImpure: ['status']: 'not_started')?.length}} result. Please filter to see more precise list!</h5>

    </div>
  </ion-grid>
</ion-content>
