<ion-header>

    <ion-navbar>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>{{news?.title}}</ion-title>
    </ion-navbar>

  </ion-header>


<ion-content padding>
  <ion-grid fixed>
    <div class="news" *ngIf="news" >
        <div class="news__header" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="news__header--title" fxFlex="100" fxFlex.gt-xs="60">
              <h2 >{{news.title}}</h2>
              <h4>{{news.publishedAt | date: 'medium'}}</h4>
          </div>
          <div class="news__header--image" fxFlex="100" fxFlex.gt-xs="40">
            <div class="" padding>
              <img [src]="news.urlToImage" [alt]="news.title" />
            </div>
          </div>
        </div>
        <div class="news__body">

          <strong>{{news.description}}</strong>
          <div class="" [innerHTML]="news.content"></div>
        </div>
        <div class="news__footer">
            <hr/>
            <ion-list>
                <a [href]="news.url" rel="norefferer noopener" target="_blank" ion-button>Read More on {{news.source.name}}</a>
            </ion-list>
        </div>
    </div>
</ion-grid>
</ion-content>
