page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
    letter-spacing: 3px;
    font-family: 'TPSecondary';
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
    color: color($colors, orange);
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: color($colors, light);

    b {
      color: color($colors, orange);
    }
  }

  .swiper-pagination-bullet {
    background: color($colors, orange);
  }
}
