<ion-header no-border>
    <ion-navbar>
      <ion-buttons end *ngIf="showSkip">
        <button ion-button (click)="startApp(false)" color="primary">Skip</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content no-bounce>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

      <ion-slide>
        <img src="assets/imgs/tutorial/ica-slidebox-img-1.png" class="slide-image"/>
        <h2 class="slide-title">
          Csoport létrehozása
        </h2>
        <p>
          Hozz létre vagy csatlakozz egy csoporthoz egy kattintással
        </p>
        <button ion-button icon-end large clear (click)="nextSlide()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/tutorial/ica-slidebox-img-2.png" class="slide-image"/>
        <h2 class="slide-title" >
            Barát meghívása a játékba
        </h2>
        <p>
            Hívd meg barátaidat a játékba és szerezz TipZone Ticketet
        </p>
        <button ion-button icon-end large clear (click)="nextSlide()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/tutorial/ica-slidebox-img-3.png" class="slide-image"/>
        <h2 class="slide-title">
            Tippelés bemutatása
        </h2>
        <p>
            3 pont telitalálat, 2 pont gólkülönbség eltalálása, 1 pont végkimenetel eltalálása
        </p>
        <button ion-button icon-end large clear (click)="nextSlide()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/tutorial/ica-slidebox-img-4.png" class="slide-image"/>
        <h2 class="slide-title">
            TipZone Ticket bemutatása
        </h2>
        <p>
          Szerezz TipZone Ticketet és módosítsad tippjeidet vagy hozz létre újabb csoportot barátaidnak vagy kollégáidnak
        </p>
        <button ion-button icon-end large clear (click)="startApp(true)">
          Continue
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-slide>

    </ion-slides>
  </ion-content>
