home-section {
  .home-section {
    overflow: hidden;

    & .left {
      @include tablet {
        min-height: 307px;
      }
    }
    @include mobile {
      max-height: 163px;

    }
    @include tablet {
      max-height: none;
    }
  }
  .lead {
    &__create {
      background-color: color($colors, has_closed);
      padding: 18px;
      margin: 0px;
      h4 {
        font-family: Avenir;
        font-size: 16px;
        line-height: 1.0;
        text-align: left;
        color: $white;
        padding: 0px 0px 12px;
        margin: 0;
      }
      h3 {
        font-family: Avenir;
        font-size: 14px;
        line-height: 1.33;
        text-align: left;
        color: $white;
        padding: 0px;
        margin: 0;
      }
    }
    &__join {
      background-color: color($colors, secondary);
      padding: 18px;
      margin: 0px;
      h4 {
        font-family: Avenir;
        font-size: 16px;
        line-height: 1.0;
        text-align: left;
        color: $white;
        padding: 0px 0px 12px;
        margin: 0;
      }
      h3 {
        font-family: Avenir;
        font-size: 14px;
        line-height: 1.33;
        text-align: left;
        color: $white;
        padding: 0px;
        margin: 0;
      }
    }

  }
}
