<!-- Generated template for the HomeSectionComponent component -->
<ion-grid class="home-section">
  <ion-row>
    <ion-col class="position-list left" col-12 col-sm-6 col-md-6 col-lg-12>
    <ng-container *ngFor="let key of userDetails | keys">
      <ion-grid class="position-list__item" *ngIf="userDetails[key].points"  >

        <ion-row class="position-list__item--position">

          <ion-col col-2>
            <div class="position-circle" [class.lead]="userDetails[key].position < 4" [class.middle]="userDetails[key].position > 3 && userDetails[key].position < 10" [class.outter]="userDetails[key].position > 9">{{userDetails[key].position}}</div>
          </ion-col>

          <ion-col col-6 class="position-list__item--name">
            {{userDetails[key].name}}
          </ion-col>

          <ion-col col-4 class="position-list__item--points">
            {{userDetails[key].sportName}} <br/>
            {{userDetails[key].points}} {{ 'POINTS' | translate }}
          </ion-col>

        </ion-row>

      </ion-grid>
      </ng-container>
    </ion-col>

    <ion-col class="right" col-12 col-sm-6 col-md-6 col-lg-12>
      <ion-row>
        <ion-card class="lead__create no-margin" fxFlex (click)="createGroup()">
          <h4>{{'LEAD.CREATE.TITLE' | translate }}</h4>
          <h3>{{'LEAD.CREATE.TEXT' | translate }}</h3>
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-card class="lead__join no-margin" fxFlex (click)="searchGroup()">
          <h4>{{'LEAD.JOIN.TITLE' | translate }}</h4>
          <h3>{{'LEAD.JOIN.TEXT' | translate }}</h3>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
