<div class="card card-transparent" >
    <a href="" class="card__link" (click)="navigateToGroups($event, sport.sportId)" fxLayout="row" fxLayoutAlign="center center">
      <div class="card__image" fxFlex="160px" fxFlex.gt-xs="335px" [fxFlexOrder]="(s%2===0)?1:2">
        <img class="card__image--item" [src]="sport.image" />
        <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="svgfilter" x="0%" y="0%" width="100%" height="100%">
              <feColorMatrix type="matrix" values="0   0   0   0   0
                      0   1   0   0   0
                      0   0   0   0   0
                      0   0   0   1  0.5 " />
            </filter>
          </defs>
        </svg>
      </div>
      <div class="column" fxFlex="auto" fxLayout="column" text-center [fxFlexOrder]="(s%2===0)?2:1">
        <div class="card-title" text-center>{{sport.title}}</div>
        <div class="card-subtitle" text-center>{{sport.groups}} group</div>
      </div>
    </a>
  </div>