
.tabella {
  &__item {
    &:not(&--hidden) {
      cursor: pointer;
      border-bottom: 1px solid #e7e7e7;
    }
    &--hidden {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      & p {
        transition: margin-top 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.3);
        margin-top: 30px;
        margin-left: 14px;
        margin-right: 14px;
      }
      &.active {
        background: #405686;
        max-height: 3em;
        & p {
          margin-top: 14px;
        }
      }
    }
    &--position {
      margin: 0;
      // font-size: 20px;
      padding: 8px;
      // border-radius: 50%;
      // background: gray;
      max-width: 50px;
      text-align: center;
      text-indent: 3px;
    }

    &--team {
      margin: 0;
      font-size: 14px;
    }

    &--score {
      margin: 8px 0px;
    }

    &--points {
      margin: 8px 0px;
    }

    // &:nth-child(1) {
    //   .tabella__item--position {
    //     background: yellow;
    //     // border-radius: 50%;
    //     color: black;
    //   }
    // }
    // &:nth-child(3) {
    //   .tabella__item--position {
    //     background: blue;
    //     // border-radius: 50%;
    //   }
    // }
    // &:nth-child(5) {
    //   .tabella__item--position {
    //     background: blue;
    //     // border-radius: 50%;
    //   }
    // }
    // &:nth-last-child(4) {
    //   .tabella__item--position {
    //     background: red;
    //     // border-radius: 50%;
    //   }
    // }
    // &:nth-last-child(2) {
    //   .tabella__item--position {
    //     background: red;
    //     // border-radius: 50%;
    //   }
    // }
  }
}
