<ion-header fixed>
  <ion-navbar>
    <ion-title>
      {{ 'TABELLA' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="{{ 'REFRESHING' | translate }}...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-grid fixed>

    <div *ngIf="tabella">
      <h2>{{ 'GLOBAL_GROUP' | translate }}</h2>
        <leader-board [seasonId]="'sr:season:41776'" standalone="true"></leader-board>
      <!-- <ng-container *ngFor="let standing of tabella; let p = index">
        <ion-row class="tabella__item" #f (click)="f.active=!f.active">
          <ion-col col-2 col-sm-1 text-center>
            <p class="tabella__item--position">{{standing.rank}}.</p>
          </ion-col>
          <ion-col col-6>
            <p class="tabella__item--team">{{standing.team.name}}</p>
            <small>{{standing.current_outcome}}</small>
          </ion-col>
          <ion-col col-2 text-center>
            <p class="tabella__item--score">{{[standing.goals_for, standing.goals_against].join(':')}}</p>
          </ion-col>
          <ion-col col-2 text-center>
            <p class="tabella__item--points">{{standing.points}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="tabella__item tabella__item--hidden" [class.active]="f.active">
          <ion-col col-3 text-center>
            <strong>
              {{ 'PLAYED' | translate }}: {{standing.played}}
            </strong>
          </ion-col>
          <ion-col col-3 text-center>
            <strong>
              {{ 'WIN' | translate }}: {{standing.win}}
            </strong>
          </ion-col>
          <ion-col col-3 text-center>
            <strong>
              {{ 'DRAW' | translate }}: {{standing.draw}}
            </strong>
          </ion-col>
          <ion-col col-3 text-center>
            <strong>
              {{ 'LOSS' | translate }}: {{standing.loss}}
            </strong>
          </ion-col>
        </ion-row>
      </ng-container> -->
    </div>
  </ion-grid>
</ion-content>

