<!-- Generated template for the TipCreditComponent component -->
<button small ion-button icon-left>
  <ion-icon showWhen="android,ios" item-start name="basket"></ion-icon>
  <span hideWhen="android,ios">
  {{ ((userStore.userConfig | async)?.credit | number : '4.0-0') || 'No credit' }}
  </span>
</button>
