<!--
  Generated template for the GroupCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">{{'CLOSE' | translate }}</button>
    </ion-buttons>
    <ion-title>{{'CREATE_GROUP' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="groupForm" (submit)="create()">
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <h1>{{ 'ADD_A_TEAM_NAME' | translate }}</h1>
        <ion-list>

          <ion-item>
            <ion-label>{{ 'YOUR_GROUP_NAME' | translate }}:</ion-label>
            <ion-input formControlName="name" type="text" name="name"></ion-input>
          </ion-item>

          <!-- <ion-list formArrayName="invited" *ngFor="let friend of groupForm.get('invited').controls; let i = index">
            <ion-item [formGroupName]="i">
              <ion-label>{{friends[i].name}}</ion-label>
              <ion-checkbox formControlName="selected" color="dark"></ion-checkbox>
            </ion-item>
          </ion-list> -->

          <div class="custom-ion-item">
            <!-- <ion-label>Add more by email</ion-label>
            <tag-input formControlName='emails' theme='dark'></tag-input> -->
            <div padding>
              <button [disabled]="groupForm.get('name').invalid" (click)="nextStep($event)" ion-button color="primary" block>{{ 'NEXT' | translate }}</button>
            </div>
          </div>

        </ion-list>
      </ion-slide>
      <ion-slide>
        <h1>{{ 'CHOOSE_A_GROUP_TYPE' | translate }}</h1>
        <ion-item>
          <ion-label floating>{{ 'GROUP_TYPE' | translate }}</ion-label>
          <ion-select formControlName="groupType">
            <ion-option *ngFor="let types of ['PRIVATE', 'PUBLIC', 'CLOSED']" [value]="types">{{types | translate}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="groupForm.get('groupType').value === 'CLOSED'">
          <ion-icon name="unlock" item-start></ion-icon>
          <p text-wrap>
            {{ 'CLOSED_DESCRIPTION' | translate }}
          </p>
        </ion-item>
        <ion-item *ngIf="groupForm.get('groupType').value === 'PUBLIC'">
          <ion-icon name="people" item-start></ion-icon>
          <p text-wrap>
            {{ 'PUBLIC_DESCRIPTION' | translate }}
          </p>
        </ion-item>
        <ion-item *ngIf="groupForm.get('groupType').value === 'PRIVATE'">
          <ion-icon name="lock" item-start></ion-icon>
          <p text-wrap>
            {{ 'PRIVATE_DESCRIPTION' | translate }}
          </p>
        </ion-item>
        <div padding>
          <button [disabled]="groupForm.get('groupType').invalid" (click)="nextStep($event)" ion-button color="primary" block>Next</button>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- <h1>{{ 'CHOOSE_SPORT' | translate }}</h1>
        <ion-item>
          <ion-label floating>{{ 'SPORT' | translate }}</ion-label>
          <ion-select formControlName="sport">
            <ion-option selected="true" value="null" >{{ 'ALL' | translate }}</ion-option>
            <ion-option *ngFor="let sport of sportsList" [value]="sport">{{sport.sportName}}</ion-option>
          </ion-select>
        </ion-item> -->

        <h1>{{ 'CHOOSE_GAME' | translate }}</h1>
        <ion-list radio-group formControlName="game">
          <ion-item *ngFor="let item of gamesList | filterBy: ['sportId']: groupForm.get('sport').value.sportId; let g = index">
            <ion-label>{{item.gameName}}</ion-label>
            <ion-radio [value]="item" name="game" checked></ion-radio>
          </ion-item>
        </ion-list>
        <div padding>
          <button type="submit" [disabled]="groupForm.get('game').invalid" ion-button color="primary" block>{{ 'CREATE' | translate }}</button>
        </div>
      </ion-slide>

    </ion-slides>


  </form>
</ion-content>
