<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ACCOUNT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>
<top-navigation class=""></top-navigation>
<ion-content padding>
  <ion-grid fixed>
    <h2>{{ 'MY_PROFILE' | translate }}</h2>
    <div padding text-center>
      <div *ngIf="avatarPhoto" class="avatar" [style.background-image]="'url('+ avatarPhoto +')'">
      </div>

      <button ion-button clear (click)="selectAvatar()">
      {{(avatarPhoto) ? ('CHANGE_COVER_PHOTO' | translate) : ('ADD_COVER_PHOTO' | translate) }}
      </button>

      <input #avatar class="avatar-input" type="file" (change)="uploadFromFile($event)" />
    </div>

    <ion-row>
      <ion-col col-12 col-sm-4 col-md-4 col-lg-4>
        <h3>{{ 'ACCOUNT_SETTINGS' | translate }}</h3>
        <form>
          <ion-item-group [formGroup]="userDetailForm">
              <ion-item-divider color="orange">Personal details</ion-item-divider>
            <ion-item>
              <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
              <ion-input formControlName="username"></ion-input>
            </ion-item>

            <ion-item *ngFor="let attr of attributes">
              <strong>{{ attr.getName() }}</strong> {{ attr.getValue() }}
            </ion-item>

            <ion-item>
              <ion-label floating>{{ 'LANGUAGE' | translate }}</ion-label>
              <ion-select formControlName="language">
                <ion-option value="hu">Magyar
                  <img src="/assets/flags/7053.png" alt="Hun" />
                </ion-option>
                <ion-option value="en">English
                  <img src="/assets/flags/7118.png" alt="Eng" />
                </ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label floating>{{ 'COUNTRY' | translate }}</ion-label>
              <ion-select formControlName="country">
                <ion-option value="hu">Magyarorszag</ion-option>
                <ion-option value="gb">United Kingdom </ion-option>
                <ion-option value="du">Germany </ion-option>
              </ion-select>
            </ion-item>


          </ion-item-group>
          <ion-item-group [formGroup]="userNotificationForm">
            <ion-item-divider color="orange">{{ 'NOTIFICATIONS' | translate }}</ion-item-divider>

            <ion-item>
              <ion-label text-wrap>{{ 'NEWSLETTER_SUBSCRIPTION' | translate }}</ion-label>
              <ion-checkbox formControlName="newsletter"></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label text-wrap>{{ 'EMAIL_SUBSCRIPTION' | translate }}</ion-label>
                <ion-checkbox formControlName="emailNotification"></ion-checkbox>
            </ion-item>

            <ion-item>
                <ion-label text-wrap>{{ 'PUSH_NOTIFICATION' | translate }}</ion-label>
                <ion-checkbox formControlName="pushNotification"></ion-checkbox>
            </ion-item>

          </ion-item-group>
          <ion-item-group>
            <ion-item-divider color="orange">App details</ion-item-divider>
            <ion-item>
              <ion-label>Created By</ion-label>
              <p item-content>Tipzone Ltd / Web Team</p>
            </ion-item>

            <ion-item >
                <ion-label>Version</ion-label>
                <p item-content>v{{version}}</p>
            </ion-item>

            <ion-item>
              <ion-label>Updated at</ion-label>
              <p item-content>{{lastUpdate}}</p>
            </ion-item>
          </ion-item-group>

            <button ion-item (click)="logout()">
              <ion-label color="danger" block outline>{{ 'LOGOUT' | translate }}</ion-label>
            </button>

            <button ion-item>
              <ion-label color="danger" block outline>Reset all my settings</ion-label>
            </button>

            <button ion-item>
              <ion-label color="danger" block outline>Delete my account!!!</ion-label>
            </button>
        </form>
      </ion-col>
      <ion-col col-12 col-sm-5 col-md-5 col-lg-5>
        <h3>{{ 'NOTIFICATIONS' | translate }}</h3>
        <!-- <news-feed [noavatar]="true"></news-feed> -->
        <div class="table-responsive">
          <table class="table table-hover table-striped">
              <tr>
                  <th>Action</th>
                  <th>Date</th>
              </tr>
              <tr *ngFor="let item of logdata" class="active">
                  <td translate padding>{{ item.type }}</td>
                  <td padding>{{ item.date | date: 'short' }}</td>
              </tr>
          </table>
      </div>
      </ion-col>
      <ion-col col-12 col-sm-3 col-md-3 col-lg-3>
        <h3>{{ 'FAVORITES' | translate }} <ion-icon  color="danger" name="star" item-end></ion-icon></h3>
        <ion-item-group>
          <ion-item #item *ngFor="let favorite of user.favorites | async" >
            <ion-label>{{favorite.name}}</ion-label>
            <button ion-button color="danger" clear item-end (click)="user.addOrRemoveFavorite(favorite)">Remove</button>
          </ion-item>
        </ion-item-group>
        <h5 *ngIf="(user.favorites | async)?.length === 0" [innerHTML]="'NO_FAVORITE' | translate"></h5>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
