<ion-content>
  <div padding>
      <p>{{ 'VERIFICATION_TITLE' | translate }}</p>
      <h4>{{ 'VERIFICATION_DESCRIPTION' | translate }}</h4>
  </div>
  <form (submit)="confirm()">
    <ion-list>


      <ion-item>
        <ion-label floating>{{ 'ENTER_YOUR_CODE' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="code" name="code"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>{{ 'CONFIRM_ACCOUNT' | translate }}</button>
      </div>

      <div padding>
        <p>{{ 'NOTE:_IF_YOU_DID_NOT_RECEIVE_A_CODE' | translate }}, <a href="" (click)="resendCode($event)">{{ 'REQUEST_NEW_CODE' | translate }}</a> {{ 'OR' | translate }} <a href="mailto:contact@tipzone.com?Subject=Verification+code">{{ 'CONTACT_US' | translate }}</a>.</p>
      </div>

    </ion-list>
  </form>
</ion-content>
